acme==1.1.0
altgraph==0.17
appdirs==1.4.4
apt-clone==0.2.1
apturl==0.5.2
asgiref==3.2.7
astroid==2.4.1
autopep8==1.5.3
beautifulsoup4==4.9.1
blinker==1.4
Brlapi==0.7.0
bs4==0.0.1
certbot==0.40.0
certbot-nginx==0.40.0
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
colorama==0.4.3
command-not-found==0.3
ConfigArgParse==0.13.0
configobj==5.0.6
cryptography==2.8
cupshelpers==1.0
dbus-python==1.2.16
defer==1.0.6
distlib==0.3.0
distro==1.4.0
distro-info===0.23ubuntu1
Django==3.0.7
django-mathfilters==1.0.0
django-multiselectfield==0.1.12
docopt==0.6.2
entrypoints==0.3
evdev==1.3.0
fcm-django==0.3.4
filelock==3.0.12
firebase==3.0.1
future==0.18.2
gcloud==0.17.0
googleapis-common-protos==1.52.0
grpcio==1.16.1
gunicorn==20.0.4
httplib2==0.14.0
idna==2.9
ifaddr==0.1.6
importlib-metadata==1.5.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
josepy==1.2.0
Js2Py==0.70
jws==0.1.3
keyboard==0.13.5
keyring==18.0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.4.3
louis==3.12.0
lxml==4.5.1
macaroonbakery==1.3.1
Mako==1.1.0
MarkupSafe==1.1.1
mccabe==0.6.1
mock==3.0.5
more-itertools==4.2.0
MouseInfo==0.1.3
nemo-emblems==4.6.0
netifaces==0.10.4
nose==1.3.7
oauth2client==3.0.0
oauthlib==3.1.0
onboard==1.4.1
packaging==20.4
PAM==0.4.2
parsedatetime==2.4
pbr==5.4.5
pexpect==4.6.0
Pillow==7.1.2
pipenv==2020.6.2
playsound==1.2.2
protobuf==3.6.1
psutil==5.5.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.50
pycairo==1.16.2
pycodestyle==2.6.0
pycrypto==2.6.1
pycryptodome==3.4.3
pycups==1.9.73
pycurl==7.43.0.2
pyfcm==1.4.7
PyGetWindow==0.0.8
PyGObject==3.36.0
PyICU==2.4.2
pyinotify==0.9.6
PyInstaller==3.6
pyjsparser==2.7.1
PyJWT==1.7.1
pymacaroons==0.13.0
PyMsgBox==1.0.8
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==2.4.7
pyparted==3.11.2
pyperclip==1.8.0
PyPrind==2.11.2
Pyrebase==3.0.27
PyRect==0.1.4
pyRFC3339==1.1
PyScreeze==0.1.26
pySmartDL==1.3.3
python-apt==2.0.0+ubuntu0.20.4.1
python-debian===0.1.36ubuntu1
python-jwt==2.0.1
python-xapp==2.0.1
python-xlib==0.23
python3-xlib==0.15
PyTweening==1.0.3
pytz==2020.1
pyxdg==0.26
PyYAML==5.3.1
reportlab==3.5.34
requests==2.11.1
requests-toolbelt==0.7.0
requests-unixsocket==0.2.0
rsa==4.6
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
selenium==3.141.0
setproctitle==1.1.10
simplejson==3.16.0
six==1.15.0
Slowloris==0.2.1
soupsieve==1.9.5
sqlparse==0.3.1
systemd-python==234
tinycss2==1.0.2
toml==0.10.1
tzlocal==2.1
ubuntu-advantage-tools==20.3
ubuntu-drivers-common==0.0.0
ufw==0.36
Unidecode==1.1.1
Unipath==1.1
urllib3==1.25.9
virtualenv==20.0.21
virtualenv-clone==0.5.4
wadllib==1.3.3
webencodings==0.5.1
Werkzeug==1.0.1
wget==3.2
whitenoise==5.1.0
wrapt==1.12.1
xkit==0.0.0
zeroconf==0.24.4
zipp==1.0.0
zope.component==4.3.0
zope.event==4.4
zope.hookable==5.0.0
zope.interface==4.7.1
