{% extends 'courses/base.html' %}
{% load static %}
{% block body %}
    <div class="card card-image" style="background-image: url(http://getwallpapers.com/wallpaper/full/e/2/a/648078.jpg);">
        <div class="text-white text-center rgba-stylish-strong py-5 px-4">
          <div class="py-5">
            <h1 class="h1 text-warning"><i class="fas fa-error"></i>404 ERROR</h1>
            <h2 class="card-title h2 my-4 py-2 text-white">Sorry! The URL You Requested is Invalid or Removed.</h2>
            <a href="{% url 'home' %}" class="btn btn-danger btn-lg"><i class="fas fa-home left"></i>Coupons Town</a>
          </div>
        </div>
    </div>
    
{% endblock %}
</body>
