{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- BASE HTML META TAGS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Coupons Town" />
    <link rel="cannonical" href="https://couponstown.me/" />
    
    {% block page_meta %}
    {% endblock %}        
    
    <title>{% block title %}Coupons Town: Free Udemy and other Courses{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/card-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/my_style.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

    <!-- Google Adsense -->
    <script data-ad-client="ca-pub-5582220802128786" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-172159238-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-172159238-1');
    </script>
    
    <!-- Media.Net Script -->
    <script type="text/javascript">
        window._mNHandle = window._mNHandle || {};
        window._mNHandle.queue = window._mNHandle.queue || [];
        medianet_versionId = "3121199";
    </script>
    <script src="https://contextual.media.net/dmedianet.js?cid=8CU7I1KU6" async="async"></script>

</head>
<body style="margin-bottom: 30px;">
    {% block body %}
    {% endblock %}

    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
