<style>
    div.card {width: 220px; float: left;}
    div.card > a {text-decoration: none;}
    div.card > a > p {height:70px; color:white; text-align:center; margin: 8px 4px}
    div.card > a > div {height:150px; border-radius: 0.25rem 0.25rem 0 0; background-repeat: no-repeat; background-size: cover; background-position: center;}
    div.card > a > div > img {width: 100%}
</style>

{% load static %}

{% for course in courses.all %}
<div class="bg-secondary mx-2 card">
    <a href="{{ course.url }}">
        <div style="background-image:url('{{ course.image.url }}');">
            {% if course.expired %}
            <img src="{% static 'images/expired_406x250-1.png' %}">
            {% endif %}
        </div>
        <p>{{ course.name }}</p>
    </a>
</div>
{% endfor %}
