<!--Carousel Wrapper-->
<div id="carousel-with-lb" class="carousel slide carousel-multi-item" data-ride="carousel">

  <!--Controls-->
  <div class="controls-top">
    <a class="btn-floating btn-secondary" href="#carousel-with-lb" data-slide="prev"><i
        class="fas fa-chevron-left"></i></a>
    <a class="btn-floating btn-secondary" href="#carousel-with-lb" data-slide="next"><i
        class="fas fa-chevron-right"></i></a>
  </div>
  <!--/.Controls-->

  <!--Indicators-->
  <ol class="carousel-indicators ">
    <li data-target="#carousel-with-lb" data-slide-to="0" class="active secondary-color"></li>
    <li data-target="#carousel-with-lb" data-slide-to="1" class="secondary-color"></li>
    <li data-target="#carousel-with-lb" data-slide-to="2" class="secondary-color"></li>
    <li data-target="#carousel-with-lb" data-slide-to="3" class="secondary-color"></li>
    <li data-target="#carousel-with-lb" data-slide-to="3" class="secondary-color"></li>
  </ol>
  <!--/.Indicators-->

  <!--Slides and lightbox-->

  <div class="carousel-inner mdb-lightbox" role="listbox">
    <div id="mdb-lightbox-ui"></div>
    <!--First slide-->
    <div class=" carousel-item active text-center">
      <h3>Web Development</h3>  
      {% for item in web_development %}
      <!-- CARD -->
      <figure class="col-md-3 col-sm-6 offset-xm-3 d-md-inline-block">
        <div class="card">
          <!-- Card image -->
          <div class="view overlay zoom">
            <img class="card-img-top " src="{{item.image.url}}" alt="Free Udemy Coupon | Web Development Courses for free | {{course.name}}">
          </div>
          <!-- Card content -->
          <div class="card-body" style="height: 220px;">
            <!-- Title -->
            <h4 class="card-title"><a>{{ item.name }}</a></h4>
            <!-- Button -->
            <a href="{% url 'info_page' %}?course={{item.name_encoded}}" class="btn peach-gradient">Enroll Now</a>
          </div>
        </div>
      </figure>
      <!-- / CARD -->
      {% endfor %}
    </div>
    <!--/.First slide-->

    <!--Second slide-->
    <div class="carousel-item text-center">
      <h3>Programming</h3>
      {% for item in programming %}
      <!-- CARD -->
      <figure class="col-md-3 col-sm-6 offset-xm-3 d-md-inline-block">
        <div class="card">
          <!-- Card image -->
          <div class="view overlay zoom">
            <img class="card-img-top " src="{{item.image.url}}" alt="Free Udemy Coupon | Web Development Courses for free | {{course.name}}">
          </div>
          <!-- Card content -->
          <div class="card-body" style="height: 220px;">
            <!-- Title -->
            <h4 class="card-title"><a>{{ item.name }}</a></h4>
            <!-- Text -->
            <a href="{% url 'info_page' %}?course={{item.name_encoded}}" class="btn btn-primary">Enroll Now</a>
          </div>
        </div>
      </figure>
      <!-- / CARD -->
      {% endfor %}


    </div>
    <!--/.Second slide-->

    <!--Third slide-->
    <div class="carousel-item text-center">
      <h3>Office & Productivity</h3>

      {% for item in office %}
      <!-- CARD -->
      <figure class="col-md-3 col-sm-6 offset-xm-3 d-md-inline-block">
        <div class="card">
          <!-- Card image -->
          <div class="view overlay zoom">
            <img class="card-img-top " src="{{item.image.url}}" alt="Free Udemy Coupon | Web Development Courses for free | {{course.name}}">
          </div>
          <!-- Card content -->
          <div class="card-body" style="height: 220px;">
            <!-- Title -->
            <h4 class="card-title"><a>{{ item.name }}</a></h4>
            <!-- Text -->
            <a href="{% url 'info_page' %}?course={{item.name_encoded}}" class="btn btn-primary">Enroll Now</a>
          </div>
        </div>
      </figure>
      <!-- / CARD -->
      {% endfor %}

    </div>
    <!--/.Fourth slide-->

        <!--Fourth slide-->
        <div class="carousel-item text-center">
          <h3>Network Security & Etchical Hacking</h3>
    
          {% for item in hacking %}
          <!-- CARD -->
          <figure class="col-md-3 col-sm-6 offset-xm-3 d-md-inline-block">
            <div class="card">
              <!-- Card image -->
              <div class="view overlay zoom">
                <img class="card-img-top " src="{{item.image.url}}" alt="Free Udemy Coupon | Web Development Courses for free | {{course.name}}">
              </div>
              <!-- Card content -->
              <div class="card-body" style="height: 220px;">
                <!-- Title -->
                <h4 class="card-title"><a>{{ item.name }}</a></h4>
                <!-- Text -->
                <a href="{% url 'info_page' %}?course={{item.name_encoded}}" class="btn btn-primary">Enroll Now</a>
              </div>
            </div>
          </figure>
          <!-- / CARD -->
          {% endfor %}
    
        </div>
        <!--/.Fourth slide-->
        
        <!--/.Fifth slide-->

        <!--Fifth slide-->
        <div class="carousel-item text-center">
          <h3>Server & Cloud Computing</h3>
    
          {% for item in cloud %}
          <!-- CARD -->
          <figure class="col-md-3 col-sm-6 offset-xm-3 d-md-inline-block">
            <div class="card">
              <!-- Card image -->
              <div class="view overlay zoom">
                <img class="card-img-top " src="{{item.image.url}}" alt="Free Udemy Coupon | Web Development Courses for free | {{course.name}}">
              </div>
              <!-- Card content -->
              <div class="card-body" style="height: 220px;">
                <!-- Title -->
                <h4 class="card-title"><a>{{ item.name }}</a></h4>
                <!-- Text -->
                <a href="{% url 'info_page' %}?course={{item.name_encoded}}" class="btn btn-primary">Enroll Now</a>
              </div>
            </div>
          </figure>
          <!-- / CARD -->
          {% endfor %}
    
        </div>
        <!--/.Fifth slide-->

  </div>
  <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->