{% load static %}
<div class="container-fluid text-center" style="padding: 0% !important;">
    <div id="carousel-example-multi" class="carousel slide carousel-multi-item v-2 mt-3" data-ride="carousel">
        
        <p><a href="{% url 'courses' %}" class="btn btn-outline-danger waves-effect mr-5" style="font-weight: bold; float:right; z-index:1;">View All</a></p>
        <p class="btn btn-danger waves-effect ml-5 mb-0" style="font-weight: bold; float:left; cursor: default;">Latest Courses</p>
        <!--/.Controls-->
        <div class="carousel-inner v-2" role="listbox">    
          {% for index, item in carousel2 %}
          {% if index == 0 %}
          <div class="carousel-item active" >
          {% else %}
          <div class="carousel-item" >
          {% endif %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" itemscope>
              <div class="card mb-2">
                {% if item.image %}
                <img class="card-img-top" style="height: 200px !important;" src="{{ item.image.url }}" alt="Free Udemy Coupon | Free Online Courses | {{ item.name }}">
                {% else %}
                <img class="card-img-top" style="height: 200px !important;" src="{% static 'images/CouponsTown-background.png' %}" alt="Free Udemy Coupon | Free Online Courses | {{ item.name }}">
                {% endif %}
                <div class="card-body" style="height: 200px;" >
                  <div class="course-title" style=" justify-content: center;">
                      <h4 style="font-size: 1.2rem; font-family: cursive; width: 100%; height: 80px; font-weight: 800; text-align: center; padding: 5px; color: #1d3557">
                          <!-- The Complete SQL Bootcamp 2020: Go from Zero to  The Complete Course -->
                          {{ item.name }}
                      </h4>
                      <p class="lead text-muted" style="font-size: 0.7rem; margin-bottom: 0px !important;"><em>Added on {{item.upload_date}}</em></p>
                      <p class="lead text-muted" style="font-size: 0.7rem; margin-bottom: 0px !important;"><em>Added By: CouponsTown</em></p>
                  </div>
                  <div class="get-coupon" style="width: 100%; height: 50px;  ">
                    <a href="{% url 'info_page' %}?course={{item.name_encoded}}" target="blank" class="btn peach-gradient" style="font-size:1rem; font-weight:bolder" target="">  
                        Enroll Now
                    </a>
                </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
    <!--Controls-->
    <div class="controls-bottom" style="margin-top: -90px;">
      <a class="btn-floating bg-danger" href="#carousel-example-multi" data-slide="prev"><i
          class="fas fa-chevron-left"></i></a>
      <a class="btn-floating bg-danger" href="#carousel-example-multi" data-slide="next"><i
          class="fas fa-chevron-right"></i></a>
    </div>    
  </div>
  
</div>
<!-- ---------------------------------------------Second------------------------------------ -->


<script>
  $('.carousel.carousel-multi-item.v-2 .carousel-item').each(function(){
      var next = $(this).next();
      if (!next.length) {
      next = $(this).siblings(':first');
      }
      next.children(':first-child').clone().appendTo($(this));

      for (var i=0;i<4;i++) {
          next=next.next();
          if (!next.length) {
              next=$(this).siblings(':first');
          }
          next.children(':first-child').clone().appendTo($(this));
      }
  });
</script>
