<!--Carousel Wrapper-->
<div id="carousel-with-lb" class="carousel slide carousel-multi-item" data-ride="carousel">

  <!--Controls-->
  <div class="controls-top">
    <a class="btn-floating btn-secondary" href="#carousel-with-lb" data-slide="prev"><i
        class="fas fa-chevron-left"></i></a>
    <a class="btn-floating btn-secondary" href="#carousel-with-lb" data-slide="next"><i
        class="fas fa-chevron-right"></i></a>
  </div>
  <!--/.Controls-->

  <!--Indicators-->
  <ol class="carousel-indicators ">
    <li data-target="#carousel-with-lb" data-slide-to="0" class="active secondary-color"></li>
    <li data-target="#carousel-with-lb" data-slide-to="1" class="secondary-color"></li>
    <li data-target="#carousel-with-lb" data-slide-to="2" class="secondary-color"></li>
  </ol>
  <!--/.Indicators-->

  <!--Slides and lightbox-->

  <div class="carousel-inner mdb-lightbox" role="listbox">
    <div id="mdb-lightbox-ui"></div>
    <!--First slide-->
    <div class=" carousel-item active text-center">
      <h3>Course Category</h3>  
      <figure class="col-md-3 col-sm-6 offset-xm-3 d-md-inline-block">
        <div class="card">

          <!-- Card image -->
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
        
          <!-- Card content -->
          <div class="card-body">
        
            <!-- Title -->
            <h4 class="card-title"><a>Card title</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <!-- Button -->
            <a href="#" class="btn btn-primary">Button</a>
        
          </div>
        
        </div>
      </figure>

      <figure class="col-md-3 col-sm-6 offset-xm-3 d-md-inline-block">
        <div class="card">

          <!-- Card image -->
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
        
          <!-- Card content -->
          <div class="card-body">
        
            <!-- Title -->
            <h4 class="card-title"><a>Card title</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <!-- Button -->
            <a href="#" class="btn btn-primary">Button</a>
        
          </div>
        
        </div>
      </figure>

      <figure class="col-md-3 col-sm-6 offset-xm-3 d-md-inline-block">
        <div class="card">

          <!-- Card image -->
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
        
          <!-- Card content -->
          <div class="card-body">
        
            <!-- Title -->
            <h4 class="card-title"><a>Card title</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <!-- Button -->
            <a href="#" class="btn btn-primary">Button</a>
        
          </div>
        
        </div>
      </figure>

      <figure class="col-md-3 col-sm-6 offset-xm-3 d-md-inline-block">
        <div class="card">

          <!-- Card image -->
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
        
          <!-- Card content -->
          <div class="card-body">
        
            <!-- Title -->
            <h4 class="card-title"><a>Card title</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <!-- Button -->
            <a href="#" class="btn btn-primary">Button</a>
        
          </div>
        
        </div>
      </figure>
      <figure class="col-md-3 col-sm-6 offset-xm-3 d-md-inline-block">
        <div class="card">

          <!-- Card image -->
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
        
          <!-- Card content -->
          <div class="card-body">
        
            <!-- Title -->
            <h4 class="card-title"><a>Card title</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <!-- Button -->
            <a href="#" class="btn btn-primary">Button</a>
        
          </div>
        
        </div>
      </figure>
      <figure class="col-md-3 col-sm-6 offset-xm-3 d-md-inline-block">
        <div class="card">

          <!-- Card image -->
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
        
          <!-- Card content -->
          <div class="card-body">
        
            <!-- Title -->
            <h4 class="card-title"><a>Card title</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <!-- Button -->
            <a href="#" class="btn btn-primary">Button</a>
        
          </div>
        
        </div>
      </figure>

      <figure class="col-md-3 col-sm-6 offset-xm-3 d-md-inline-block">
        <div class="card">

          <!-- Card image -->
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
        
          <!-- Card content -->
          <div class="card-body">
        
            <!-- Title -->
            <h4 class="card-title"><a>Card title</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <!-- Button -->
            <a href="#" class="btn btn-primary">Button</a>
        
          </div>
        
        </div>
      </figure>

      <figure class="col-md-3 col-sm-6 offset-xm-3 d-md-inline-block">
        <div class="card">

          <!-- Card image -->
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
        
          <!-- Card content -->
          <div class="card-body">
        
            <!-- Title -->
            <h4 class="card-title"><a>Card title</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <!-- Button -->
            <a href="#" class="btn btn-primary">Button</a>
        
          </div>
        
        </div>
      </figure>

    </div>
    <!--/.First slide-->

    <!--Second slide-->
    <div class="carousel-item text-center">
      <h3>Course Category</h3>
      <figure class="col-md-3 col-sm-6 offset-xm-3 d-md-inline-block">
        <div class="card">

          <!-- Card image -->
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
        
          <!-- Card content -->
          <div class="card-body">
        
            <!-- Title -->
            <h4 class="card-title"><a>Card title</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <!-- Button -->
            <a href="#" class="btn btn-primary">Button</a>
        
          </div>
        
        </div>
      </figure>

      <figure class="col-md-3 col-sm-6 offset-xm-3 d-md-inline-block">
        <div class="card">

          <!-- Card image -->
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
        
          <!-- Card content -->
          <div class="card-body">
        
            <!-- Title -->
            <h4 class="card-title"><a>Card title</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <!-- Button -->
            <a href="#" class="btn btn-primary">Button</a>
        
          </div>
        
        </div>
      </figure>

      <figure class="col-md-3 col-sm-6 offset-xm-3 d-md-inline-block">
        <div class="card">

          <!-- Card image -->
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
        
          <!-- Card content -->
          <div class="card-body">
        
            <!-- Title -->
            <h4 class="card-title"><a>Card title</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <!-- Button -->
            <a href="#" class="btn btn-primary">Button</a>
        
          </div>
        
        </div>
      </figure>

      

      <figure class="col-md-3 col-sm-6 offset-xm-3 d-md-inline-block">
        <div class="card">

          <!-- Card image -->
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
        
          <!-- Card content -->
          <div class="card-body">
        
            <!-- Title -->
            <h4 class="card-title"><a>Card title</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <!-- Button -->
            <a href="#" class="btn btn-primary">Button</a>
        
          </div>
        
        </div>
      </figure>
      <figure class="col-md-3 col-sm-6 offset-xm-3 d-md-inline-block">
        <div class="card">

          <!-- Card image -->
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
        
          <!-- Card content -->
          <div class="card-body">
        
            <!-- Title -->
            <h4 class="card-title"><a>Card title</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <!-- Button -->
            <a href="#" class="btn btn-primary">Button</a>
        
          </div>
        
        </div>
      </figure>
      <figure class="col-md-3 col-sm-6 offset-xm-3 d-md-inline-block">
        <div class="card">

          <!-- Card image -->
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
        
          <!-- Card content -->
          <div class="card-body">
        
            <!-- Title -->
            <h4 class="card-title"><a>Card title</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <!-- Button -->
            <a href="#" class="btn btn-primary">Button</a>
        
          </div>
        
        </div>
      </figure>

      <figure class="col-md-3 col-sm-6 offset-xm-3 d-md-inline-block">
        <div class="card">

          <!-- Card image -->
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
        
          <!-- Card content -->
          <div class="card-body">
        
            <!-- Title -->
            <h4 class="card-title"><a>Card title</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <!-- Button -->
            <a href="#" class="btn btn-primary">Button</a>
        
          </div>
        
        </div>
      </figure>

      <figure class="col-md-3 col-sm-6 offset-xm-3 d-md-inline-block">
        <div class="card">

          <!-- Card image -->
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
        
          <!-- Card content -->
          <div class="card-body">
        
            <!-- Title -->
            <h4 class="card-title"><a>Card title</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <!-- Button -->
            <a href="#" class="btn btn-primary">Button</a>
        
          </div>
        
        </div>
      </figure>

    </div>
    <!--/.Second slide-->

    <!--Third slide-->
    <div class="carousel-item text-center">
      <h3>Course Category</h3>
      <figure class="col-md-3 col-sm-6 offset-xm-3 d-md-inline-block">
        <div class="card">

          <!-- Card image -->
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
        
          <!-- Card content -->
          <div class="card-body">
        
            <!-- Title -->
            <h4 class="card-title"><a>Card title</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <!-- Button -->
            <a href="#" class="btn btn-primary">Button</a>
        
          </div>
        
        </div>
      </figure>

      <figure class="col-md-3 col-sm-6 offset-xm-3 d-md-inline-block">
        <div class="card">

          <!-- Card image -->
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
        
          <!-- Card content -->
          <div class="card-body">
        
            <!-- Title -->
            <h4 class="card-title"><a>Card title</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <!-- Button -->
            <a href="#" class="btn btn-primary">Button</a>
        
          </div>
        
        </div>
      </figure>

      <figure class="col-md-3 col-sm-6 offset-xm-3 d-md-inline-block">
        <div class="card">

          <!-- Card image -->
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
        
          <!-- Card content -->
          <div class="card-body">
        
            <!-- Title -->
            <h4 class="card-title"><a>Card title</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <!-- Button -->
            <a href="#" class="btn btn-primary">Button</a>
        
          </div>
        
        </div>
      </figure>

      <figure class="col-md-3 col-sm-6 offset-xm-3 d-md-inline-block">
        <div class="card">

          <!-- Card image -->
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
        
          <!-- Card content -->
          <div class="card-body">
        
            <!-- Title -->
            <h4 class="card-title"><a>Card title</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <!-- Button -->
            <a href="#" class="btn btn-primary">Button</a>
        
          </div>
        
        </div>
      </figure>

      <figure class="col-md-3 col-sm-6 offset-xm-3 d-md-inline-block">
        <div class="card">

          <!-- Card image -->
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
        
          <!-- Card content -->
          <div class="card-body">
        
            <!-- Title -->
            <h4 class="card-title"><a>Card title</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <!-- Button -->
            <a href="#" class="btn btn-primary">Button</a>
        
          </div>
        
        </div>
      </figure>

      <figure class="col-md-3 col-sm-6 offset-xm-3 d-md-inline-block">
        <div class="card">

          <!-- Card image -->
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
        
          <!-- Card content -->
          <div class="card-body">
        
            <!-- Title -->
            <h4 class="card-title"><a>Card title</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <!-- Button -->
            <a href="#" class="btn btn-primary">Button</a>
        
          </div>
        
        </div>
      </figure>

      <figure class="col-md-3 col-sm-6 offset-xm-3 d-md-inline-block">
        <div class="card">

          <!-- Card image -->
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
        
          <!-- Card content -->
          <div class="card-body">
        
            <!-- Title -->
            <h4 class="card-title"><a>Card title</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <!-- Button -->
            <a href="#" class="btn btn-primary">Button</a>
        
          </div>
        
        </div>
      </figure>

      <figure class="col-md-3 col-sm-6 offset-xm-3 d-md-inline-block">
        <div class="card">

          <!-- Card image -->
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
        
          <!-- Card content -->
          <div class="card-body">
        
            <!-- Title -->
            <h4 class="card-title"><a>Card title</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <!-- Button -->
            <a href="#" class="btn btn-primary">Button</a>
        
          </div>
        
        </div>
      </figure>

      

    </div>
    <!--/.Third slide-->

  </div>
  <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->