<style>
  div.carousel{background-color: bisque;}
</style>
<center>
<div id="carouselExampleControls" class="carousel" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      {% for course in courses.all %}
      <div class="bg-secondary mx-2 card">
        <a href="#">
          <div style="background-image:url('{{ course.image.url }}');"></div>
          <p>{{ course.name }}</p>
        </a>
      </div>
      {% endfor %}
    </div>
    <!-- <div class="carousel-item">
      {% for course in courses.all %}
      <div class="bg-secondary mx-2 card">
        <a href="#">
          <div style="background-image:url('{{ course.image.url }}');"></div>
          <p>{{ course.name }}</p>
        </a>
      </div>
      {% endfor %}    
    </div>
    <div class="carousel-item">
      {% for course in courses.all %}
      <div class="bg-secondary mx-2 card">
        <a href="#">
          <div style="background-image:url('{{ course.image.url }}');"></div>
          <p>{{ course.name }}</p>
        </a>
      </div>
      {% endfor %}
    </div>
  </div> -->
  <!-- <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> -->
</div>
</center>