<style>
    .form-dark .font-small {font-size: 0.8rem; }

    .form-dark [type="radio"] + label,
    .form-dark [type="checkbox"] + label {font-size: 0.8rem; }

  .form-dark [type="checkbox"] + label:before {
    top: 2px;
    width: 15px;
    height: 15px; }

  .form-dark .md-form label {
    color: #fff; }

  .form-dark input[type=email]:focus:not([readonly]) {
    border-bottom: 1px solid #00C851;
    -webkit-box-shadow: 0 1px 0 0 #00C851;
    box-shadow: 0 1px 0 0 #00C851; }

  .form-dark input[type=email]:focus:not([readonly]) + label {
    color: #fff; }

  .form-dark input[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid #00C851;
    -webkit-box-shadow: 0 1px 0 0 #00C851;
    box-shadow: 0 1px 0 0 #00C851; }

  .form-dark input[type=password]:focus:not([readonly]) + label {
    color: #fff; }

  .form-dark input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    z-index: 0;
    border: 1.5px solid #fff;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: 0.2s;
    transition: 0.2s; }

  .form-dark input[type="checkbox"]:checked + label:before {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent #00c851 #00c851 transparent;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%; }

  .form-dark .modal-header {
      border-bottom: none;
  }
</style>
<!-- Footer Elements -->
<div class="container-fluid">

  <!-- Call to action -->
  <div class="row">
    <div class="col-4">
      <ul class="list-unstyled list-inline text-center py-2" style="float: left;">  
        <li class="list-inline-item">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#privacymodal">
            Privacy Policy
          </button>
          
        </li>
      </ul>
    </div>

    <div class="col-8">
         
      <ul class="list-unstyled list-inline text-center py-2" >
        <li class="list-inline-item">
          <h5>Follow Us On</h5>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-fb mx-1" href="https://www.facebook.com/couponstown/" target="blank">
            <i class="fab fa-facebook-f"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-tw mx-1" href="https://twitter.com/CouponsTown">
            <i class="fab fa-twitter"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-gplus mx-1" style="background-color: #c13584 !important;" href="https://www.instagram.com/couponstown/">
            <i class="fab fa-instagram"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-li mx-1" href="https://t.me/coupons_town">
            <i class="fab fa-telegram fa-lg  mr-md-5 mr-3 fa-2x"> </i>
          </a>
        </li>
      </ul>
    </div>

    
  </div>

</div>

<div class="footer-copyright text-center py-3">© 2020 Copyright:
  <a href="https://couponstown.me/"> CouponsTown.me</a>
</div>
<!-- Footer -->

<!-- ==========================modal for privacy policy================= -->

<!-- Full Height Modal Right -->
<div class="modal fade bottom" id="privacymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">

  <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
  <div class="modal-dialog modal-full-height modal-bottom" role="document" style="height: 90%;">


    <div class="modal-content">
      <div class="modal-header bg-danger fixed-top">
        <h4 class="modal-title w-100  text-center " id="myModalLabel">Privacy Policy</h4>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-dark ">
          {% include 'courses/privacy.html' %}
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
