{% extends 'courses/base.html' %}
{% load static %}

{% block page_meta %}
<meta name="title" content="[100% off] Free Online Courses with Certificates | CouponsTown.Me" />
<meta name="description" content="CouponsTown Provide Udemy Coupon, Free Online Courses, Certificates, Free e-courses, Udemy Free Courses, 100% Working Free Tutorials" />
<meta property="og:title" content="Coupons Town - Get 100% OFF Online Courses Coupons | Udemy | Eduonix | 2020" />
<meta property="og:description" content="Udemy Coupon, Free Online Courses, Udemy Free Courses, Free Online Courses with Certificates, Free e-courses, 100% Working, Free Tutorials" />
<meta property="og:url" content="https://couponstown.me/" />
<meta property="og:image" content="https://couponstown.me/static/images/course.png" />
<meta property="twitter:title" content="Coupons Town - Get 100% OFF Online Courses Coupons | Udemy | Eduonix | 2020" />
<meta property="twitter:description" content="CouponsTown Provides Free Udemy Coupons, Free Online Courses, With Certificate of Completion, Free Coupon (Promo) Code." />
<meta property="twitter:image" content="" />
<link rel="cannonical" href="https://couponstown.me/" />
{% endblock %}

{% block body %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    {% include 'courses/navbar1.html' %}
    {% include 'courses/carousel2.html' %}
      
      <!-- Card -->
        <div class="card card-image mt-4" style="background-image: url(https://couponstown.me/media/media/Learn_Top_Ten_Frameworks_In_PHP_By_Building_Projects.jpg);">

          <div class="text-white text-center d-flex align-items-center justify-content-center rgba-black-strong py-5 px-4">
            <div>
              <p class="h3 mb-3">Most Rated Course of This Week</p>
              <h5 class="text-danger" style="font-weight:500;"><i class="fas fa-book"></i> WebDevelopment</h5>
              <h1 class="card-title pt-2" style="font-size:2rem"><strong>Learn Top Ten Frameworks In PHP By Building Projects</strong></h1>
              <a href="https://couponstown.me/info-page/?course=Learn+Top+Ten+Frameworks+In+PHP+By+Building+Projects" class="btn btn-danger"><i class="fas fa-clone left"></i>ENROLL</a>
            </div>
          </div>

        </div>
<!-- Card -->

      <div class="container-fluid py-5 my-5 z-depth-3 px-3 animated slide-right" id="category-container">
        <section class="p-md-3 mx-md-5 text-lg-left">
          <h2 class="font-weight-bold text-center m-2 pb-3 text-danger">Categories</h2>

          <div class="row text-center d-flex justify-content-center align-items-center">

<!-- ------------------------programming language---------------- -->
            <a href="/category/programming" class="col-sm-6 col-lg-3 mb-lg-0 m-2">
              <i class="far fa-map  fa-3x mb-4"></i>
              <h4 class="font-weight-bold mb-4 text-dark">Programming Language</h4>
            </a>
<!-- -----------------------development------------------- -->
            <a href="/category/web-development" class="col-sm-6 col-md-3 mb-lg-0 m-2">
              <i class="fas fa-code fa-3x  mb-4 "></i>
              <h4 class="font-weight-bold mb-4 text-dark">Web Development</h4>
            </a>
<!-- -------------------------ethical hacking-------------------- -->
            <a href="/category/network-security-and-ethical-hacking" class="col-sm-6 col-lg-3 mb-md-0 m-2 mb-5">
              <img class="mb-4" src="{% static 'images/hacking.ico' %}" alt="" style="width: 64px; height: 58px;">
              <h4 class="font-weight-bold mb-4 text-dark">Ethical Hacking, Network & Security</h4>
            </a>
<!-- ----------------------office and productivity------------------------------- -->
          
<!-- ---------------------------photography---------------------------------- -->
            <a href="/category/office-and-productivity" class="col-sm-6 col-lg-3 mb-lg-0 m-2">
              <i class="fas fa-map-marker-alt fa-3x  mb-4"></i>
              <h4 class="font-weight-bold mb-4 text-dark">Office & Productivity</h4>
            </a>
<!-- ---------------------------Server and cloud computing---------------------------------- -->
            <a href="/category/server-and-cloud-computing" class="col-sm-6 col-lg-3 mb-lg-0 m-2">
              <i class="fas fa-map-marker-alt fa-3x  mb-4"></i>
              <h4 class="font-weight-bold mb-4 text-dark">Server & Cloud Computing</h4>
            </a>
<!-- ----------------------------graphics and designing-------------------- -->
            <a href="/category/graphics-and-designing" class="col-sm-6 col-lg-3 mb-lg-0 m-2">
              <i class="far fa-map  fa-3x mb-4"></i>
              <h4 class="font-weight-bold mb-4 text-dark">Graphics & Designing</h4>
            </a>
<!-- marketing and business------------------------------------------ -->
            <a href="/category/business-and-marketing" class="col-sm-6 col-lg-3 mb-md-0 m-2">
              <i class="fas fa-business-time fa-3x  mb-4"></i>
              <h4 class="font-weight-bold mb-4 text-dark">Business & Marketing</h4>
            </a>
<!-- -------------------------health and fitness-------------------------------- -->
            <a href="/category/health-and-fitness" class="col-sm-6 col-lg-3 mb-md-0 m-2">
              <i class="fas fa-weight fa-3x  mb-4"></i>
              <h4 class="font-weight-bold mb-4 text-dark">Health & Fitness</h4>
            </a>
<!-- ---------------------------Music--------------------------------- -->
            <a href="/category/music-and-creativity" class="col-sm-6 col-lg-3 mb-lg-0 m-2">
              <i class="fas fa-music fa-3x  mb-4"></i>
              <h4 class="font-weight-bold mb-4 text-dark">Music & Creativity</h4>
            </a>
<!-- ----------------------------Teaching and Academics------------------- -->
            <a href="/category/teaching-and-academics" class="col-sm-6 col-lg-3 mb-lg-0 m-2">
              <i class="fas fa-chalkboard-teacher  fa-3x mb-4"></i>
              <h4 class="font-weight-bold mb-4 text-dark">Teaching & Academics</h4>
            </a>
          </div>
        </section>
      </div>
 
{% endblock %}
