{% extends 'courses/base.html' %}
{% load static %}
{% load mathfilters %}

{% block page_meta %}
<meta name="title" content="[100% off] Free Online Courses with Certificates | CouponsTown.Me" />
<meta name="description" content="All Validated Courses, Free Udemy Coupon Codes, Free Online Courses with Certificate of Completion." />
<meta property="og:title" content="Coupons Town: Get 100% OFF Online Courses Coupons | Udemy | Eduonix| 2020" />
<meta property="og:description" content="Udemy Coupon, Free Online Courses, Udemy Free Courses, Free Online Courses with Certificates, Free e-courses, 100% Working, Free Tutorials" />
<meta property="og:url" content="https://couponstown.me/" />
<meta property="og:image" content="https://couponstown.me/static/images/course.png" />
{% endblock %}

{% block body %}
<div class="d-flex justify-content flex-wrap" style="width: 100%; " style=" display: flex; flex-wrap: wrap;">
    <div class="p-2 flex-fill bd-highlight" id="scroll-navbar" style="width: 100%; height: 80px; position: fixed; margin: 0; padding: 0; z-index: 2;transition: top 0.9s; top: -70px;">
  
    </div>
     <!-- ======================================================================================== -->
    <div class="p-2 flex-fill bd-highlight" style="width: 908px;">



        <div class="container d-flex justify-content-center " style="width: 100%;">


            {% for course in courses %}
            {% if course.image %}
            <!-- --------------Startin008 of coupon--------- -->
            <div class="card mb-2 ml-2 m-2 " style="width: 18rem; height: fit-content; background: #f1faee;">
                <div class="main-card-body" style="width: 270px;">
                    <div class="course-title"
                        style=" justify-content: center;">
                        <h4 style="font-size: 1.3rem; font-family: cursive; width: 18rem; height: 80px; font-weight: 800; text-align: center; padding: 5px; color: #1d3557">
                            <!-- The Complete SQL Bootcamp 2020: Go from Zero to  The Complete Course -->
                            {{ course.name }}
                        </h4>
                    </div>
                    <div class="card-body" style="width: 100%; height: 340px; ">
                        {% if course.platform == 'Udemy' %}

                        <div class="imagebox" data-text="UDEMY"
                            style='background:url("{{course.image.url}}") ; background-size:contain; background-position: center; background-repeat: no-repeat;'>
                            {% elif course.platform == 'Eduonix' %}
                            <div class="imagebox" data-text="EDUONIX"
                                style="background:url({{course.image.url}}) ; background-size:contain; background-position: center; background-repeat: no-repeat;">
                                {% endif %}
                            </div>
                            <div class="get-coupon" style="width: 100%; height: 40px;  ">
                                <a href="{% url 'info_page' %}?course={{course.name_encoded}}" class="btn ripe-malinka-gradient">
                                    
                                    Enroll Now
                                </a>
                            </div>

                            <div class="content" style=" width: 100%; height: 200px;margin-top: 15%;">

                                <div class="content">

                                    <div class="course-info"
                                        style="width: 100%;height: 100px; background: url(bg.png);background-size: cover; color: white; font-weight: bolder; font-size: 18px;">
                                        <div class="rating  d-flex align-items-center mt-1"
                                            style="width:40%; height: 45px;float: left;">
                                            <img src="{% static 'images/star.svg' %}" width="70%" height="70%"
                                                style="margin-top: -6px;" alt="">
                                            <p class="my-0">{{ course.rating }}</p>
                                        </div>

                                        <div class="rating floa-left d-flex align-items-center mt-1"
                                            style="width: 50%; height: 45px;float: left; ">
                                            <img src="{% static 'images/group.svg' %}" height="70%" width="70%" alt="">
                                            <p class="my-0">1000</p>
                                        </div>

                                        <div class="rating floa-left d-flex align-items-center mt-1"
                                            style="width: 100%; height: 45px;">
                                            <img src="{% static 'images/time.svg' %}" width="50%" height="70%"
                                                style="margin-top: -12px;" alt="">
                                            <p class="my-0 text-center">{{ course.duration }}</p>
                                        </div>
                                        

                                        <div class="rating floa-left d-flex align-items-center mt-1"
                                            style="width: 100%; height: 45px; float: left; ">
                                            {% if course.platform == 'Udemy' %}
                                            <img src="{% static 'images/udemy.svg' %}" height="70%" width="100%" alt="CouponsTown | Best Courses Udemy | Free Certificate | Free Udemy Course | Highest Rated | {{course.id}}">
                                            {% elif course.platform == 'Eduonix' %}
                                            <img src="{% static 'images/eduonix.png' %}" height="70%" width="50%" style="background:#e63946; border-radius:5px; opacity:80%;"
                                            alt="CouponsTown | Best Eduonix Courses | Free Certification | Highest Rated | Bestseller | {{course.id}}">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="ads"
                                    style="width: 100%; height: 70px; margin-top: 300px; text-align: center;">
                                    <!-- Ads -->
                                        ----------
                                    <!-- / Ads -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                {% endif %}
                {% endfor %}

                <!-- <div class="container bg-secondary text-white d-flex justify-content-center">
                    {% for i in total_pages %}
                        <a href="{% url 'courses' %}?page={{i}}" style="color: black;">{{i}}</a> &nbsp;
                    {% endfor %}               
                </div> -->

                               

                <!-- -------------------------------------add Anothe coupon before this div------------------------- -->
            </div>
            <!-- PAGINATION -->
            <nav class="container-fluid d-flex justify-content-center" >
                <!-- Previous Page -->
                <ul class="pagination pg-red">
                  <li class="page-item">
                    {% if active_page == 1 %}
                    <a class="page-link" aria-label="Previous">
                    {% else %}
                    <a class="page-link" aria-label="Previous" href="{% url 'courses' %}?page={{active_page|add:-1}}">
                    {% endif %}
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>

                  <!-- / Previous Page -->
                  <!-- Page Numbers -->
                  
                  {% for i in total_pages %}
                    {% if i == active_page %}
                    <li id="page-item{{i}}" class="page-item active"><a class="page-link" href="{% url 'courses' %}?page={{i}}">{{i}}</a></li>
                    {% elif i == 1 or i == num_pages %}
                    <li class="page-item"><a class="page-link" href="{% url 'courses' %}?page={{i}}">{{i}}</a></li>
                    {% elif i|add:1 == active_page or i|add:-1 == active_page %}
                    <li class="page-item"><a class="page-link" href="{% url 'courses' %}?page={{i}}">{{i}}</a></li>
                    {% endif %}
                  {% endfor %}

                  <!-- / Page Numbers -->
                  <!-- Next Page -->
                  <li class="page-item">
                    {% if active_page == num_pages %}
                    <a class="page-link" aria-label="Next">
                    {% else %}
                    <a class="page-link" aria-label="Next" href="{% url 'courses' %}?page={{active_page|add:1}}">
                    {% endif %}
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                  <!-- / Next Page -->
                </ul>
            </nav>
            <!-- / PAGINATION -->
            
        </div>

        <!-- ================================================================================================================         -->
        <div class="p-2 flex-fill bd-highlight mt-3" style="width: 210px;">
            <div class="card text-center">
                <div class="card-header bg-danger text-white" style="font-weight: bolder;">
                    Trending Topics
                </div>
                <!-- Trending Course Card Small -->
                {% for course in high_rated %}
                    {% include 'courses/side-card-small.html' %}
                {% endfor %}
                <!-- / Trending Course Card Small -->

            </div>


            <div class="card text-center mt-3 scrollbar-ripe-malinka">
                <div class="card-header text-white bg-danger" style="font-weight: bolder;">
                    ALL TAGS
                </div>
                <div class="card-body " style="height: 500px; overflow: hidden scroll">
                    <!-- Test -->
                    {% for tag in all_tags %}
                    <a href="#" class="btn btn-primary" style="font-size: 20; padding-top: 11px; padding-bottom: 11px;">{{tag}}</a>
                    {% endfor %}
                </div>
            </div>

        </div>
        
</div>
    

{% endblock %}
