{% extends 'courses/base.html' %}
{% load static %}

{% block page_meta %}
<meta name="title" content="[100% OFF] | {{ course.name }} | Info"  />
<meta name="description" content="{{course.name}}: Free Online Course | Certificate of Completion | Free Coupon (Promo) Code. | Free Udemy Coupon" />
<meta property="og:title" content="[100% Off] | {{course.name}}" />
<meta property="og:description" content="CouponsTown - Free Udemy Coupon | Free Online Course | with Certificate of Completion | Free Coupon (Promo) Codes." />
<meta property="og:url" content="" />
<meta property="og:image" content="{{course.image.url}}" />
<meta property="twitter:title" content="[100% Off] | {{course.name}}" />
<meta property="twitter:description" content="CouponsTown - Free Udemy Coupons | Free Online Courses | Certificate of Completion | Free Coupon (Promo) Code." />
<meta property="twitter:image" content="{{course.image.url}}" />
<link rel="cannonical" href="https://couponstown.me/info-page/{{course.name_base64}}" />
{% endblock %}

{% block title %} Description | {{course.name}} | Free Udemy Coupon {% endblock %}

{% include 'courses/navbar.html' %}
{% include 'courses/navbar1.html' %}


{% block body %}
<div class="container-fluid">
    <div class="d-flex justify-content flex-wrap" style="width: 100%;" style=" display: flex; flex-wrap: wrap;">

        <div class="container-fluid  border-danger">
            <div class="row mt-3">

                <div class="col-lg-8 border-danger">
                    <div class="card pl-2" style="font-size: 24px;">
                        <div class="card-header bg-danger ">
                            <h1 style="font-size: 20px; color: white;">{{ course.name }}</h1>
                        </div>
                        <div class="card-body ">
                            <div class="d-flex justify-content-md-center flex-wrap">
                                <div class="p-2 flex-fill bd-highlight" style="width: 100%;">
                                    <img src="{{ course.image.url }}" class="card-img-top"
                                        alt="{{course.name}} | Coupons Town | e-learning free courses online">
                                </div>

                            </div>

                        </div>
                        <style>
                            #lol li {
                                display: block !important;
                            }

                            #lol strong {
                                font-weight: 700;
                            }

                            #lol {
                                margin-right: 7px;
                                margin-bottom: 100px;
                            }
                        </style>

                        <div class="card-footer border-danger" id="lol">
                            <!-- Description -->
                            <!-- <div data-purpose="safely-set-inner-html:description:description">
                                <p><strong>Welcome! I'm here to help you prepare and PASS the newest Microsoft Azure
                                        Fundamentals AZ-900 Exam.</strong></p>
                                <p><strong>Beginners welcome: no need to know anything about Microsoft Azure!</strong>
                                </p>
                                <p>This is going to be a 9 hours long journey and passing the AZ-900 Microsoft Azure
                                    Fundamentals exam will be worth it!</p>
                                <p><br /></p>
                                <p><strong>HOW THIS COURSE IS DIFFERENT</strong></p>
                                <p>I have closely aligned this course with the official <strong>Microsoft Azure
                                        Fundamentals
                                        AZ-900 exam guide</strong> and structured the course so that you can study at a
                                    pace
                                    that suits you best. I start with some basic background to get everyone up to speed
                                    on
                                    what cloud computing is and its benefits, before progressing through each knowledge
                                    domain.</p>
                                <p>I am absolutely convinced that using practical hands-on labs will improve memory
                                    retention and maximise knowledge, so I have included many (optional) hands-on guided
                                    labs for those who have the time and desire to build a practical skillset. With this
                                    all-in-on <strong>Udemy Microsoft Azure Fundamentals Training Bootcamp</strong>,
                                    you'll
                                    be ready to pass the <strong>AZ-900 Microsoft Azure Fundamentals</strong> exam first
                                    time.</p>
                                <p><br /></p>
                                <p><strong>This Microsoft Azure Fundamentals AZ-900 Training Bootcamp course is
                                        different
                                        from the other ones you'll find on Udemy. </strong></p>
                                <ul>
                                    <li>
                                        <p>We will spend over <strong>nine hours discussing</strong> Azure in depth.</p>
                                    </li>
                                    <li>
                                        <p>It covers in-depth all the<strong> new topics</strong> on the Microsoft Azure
                                            Fundamentals AZ-900 exam</p>
                                    </li>
                                    <li>
                                        <p>It's packed with <strong>practical knowledge</strong> and hands-on labs on
                                            how to
                                            really deploy Microsoft Azure fundamental services</p>
                                    </li>
                                    <li>
                                        <p>It teaches you <strong>how to prepare for the AZ-900 exam</strong>
                                            <strong>AND</strong> <strong>how to prepare for the real world</strong></p>
                                    </li>
                                    <li>
                                        <p>It's a <strong>logical progression of topics</strong>, not a list of random
                                            services</p>
                                    </li>
                                    <li>
                                        <p>It's<strong> fast-paced and to the point</strong></p>
                                    </li>
                                    <li>
                                        <p>All <strong>500+ slides available</strong> <strong>as downloadable
                                                PDF</strong>
                                        </p>
                                    </li>
                                    <li>
                                        <p><strong>English Professional Closed Captions (CC)</strong></p>
                                    </li>
                                </ul>
                                <p>Simply put, <strong>here's what we'll learn to PASS the Microsoft Azure AZ-900
                                        Fundamentals exam:</strong></p>
                                <ul>
                                    <li>
                                        <p><strong>Azure Cloud Fundamentals:</strong> cloud deployment and computing
                                            models,
                                            Azure global infrastructure with regions and availability zones</p>
                                    </li>
                                    <li>
                                        <p><strong>Azure Core Compute Services: </strong>VMs, NSGs, LBs, Containers,
                                            Azure
                                            App Service, Azure Function, Azure Logic Apps</p>
                                    </li>
                                    <li>
                                        <p><strong>Azure Core Storage Services: </strong>Storage Accounts, Managed
                                            Disks,
                                            Azure Blob Storage, Azure Files Storage, Azure Queues Storage, Azure Tables
                                        </p>
                                    </li>
                                    <li>
                                        <p><strong>Azure Core Databases Services: </strong>Cosmos DB, SQL DB, MySQL DB,
                                            PostgreSQL DB</p>
                                    </li>
                                    <li>
                                        <p><strong>Azure Miscellaneous Services: </strong>IoT, Big Data and Analytics,
                                            AI
                                            &amp; ML, DevOps in Azure</p>
                                    </li>
                                    <li>
                                        <p><strong>Azure Resource Manager: </strong>ARM and ARM templates, Tags,
                                            Policies
                                            and Locks</p>
                                    </li>
                                    <li>
                                        <p><strong>Monitoring and Compliance: </strong>Azure Blueprints, Advisor, Azure
                                            Monitor, Azure Service Health</p>
                                    </li>
                                    <li>
                                        <p><strong>Security Services Fundamentals: </strong>Cloud Shared Responsibility
                                            Model, Azure Security Center, Azure Active Directory, MFA, RBAC, Firewall
                                            &amp;
                                            DDoS, Azure Key Vault, AIP, ATP</p>
                                    </li>
                                    <li>
                                        <p><strong>Pricing and Support: </strong>TCO Calculator, Azure Advisor, Azure
                                            Cost
                                            Management, Azure Support Plans, Azure Service Level Agreements (SLAs)</p>
                                        <p><br /></p>
                                    </li>
                                </ul>
                                <p><strong>WHAT DO OTHER STUDENTS SAY?</strong></p>
                                <p>Check out the excellent course reviews from our many students who passed their Azure
                                    AZ-900 exam:</p>
                                <p>⭐⭐⭐⭐⭐ </p>
                                <p>The course was excellent and went into greater detail than was required to pass the
                                    exam,
                                    including practical demonstrations to reinforce the concepts. I would highly
                                    recommend
                                    this course to anyone studying for the AZ-900 exam.</p>
                                <p>⭐⭐⭐⭐⭐ </p>
                                <p>This is THE most amazing AZ-900 Fundamentals Course i have seen in Udemy and on the
                                    'Net.
                                    I recommend this course to anybody - as it is crisp clear and complex enough to
                                    understand the concepts. The practicals / hands-on dispersed across the course helps
                                    one
                                    to understand the concepts fully.</p>
                                <p>⭐⭐⭐⭐⭐ </p>
                                <p>Really loved this course. This course helped me pass the first time. I think what
                                    separates this course from others is the fact that this course has a lot of hands-on
                                    exercises, and the instructor really knows his stuff. Happy studying everyone!</p>
                                <p>⭐⭐⭐⭐⭐ </p>
                                <p>Excelente, muy completo! Totalmente recomendable.</p>
                                <p>⭐⭐⭐⭐⭐ </p>
                                <p>Great content, concise and easy to follow. I passed the exam 880 out of 1000, with
                                    help
                                    from this course, especially the labs, quizes and practice exams. Oh and remainder
                                    to
                                    delete all resources helps to save some $$$ from unexpected Azure costs. Many
                                    thanks,
                                    Ciprian, and looking forward to more Azure courses for AZ104, 300 &amp; 301 from
                                    you!
                                </p>
                                <p><br /></p>
                                <p><strong>This Azure AZ-900 Microsoft Azure Fundamentals Training Bootcamp course is
                                        full
                                        of opportunities to apply your knowledge:</strong></p>
                                <ul>
                                    <li>
                                        <p>There are many <strong>hands-on lectures</strong> in every module</p>
                                    </li>
                                    <li>
                                        <p>There are <strong>Quizzes</strong> at the end of every module</p>
                                    </li>
                                    <li>
                                        <p>We'll be using the <strong>Azure Free Tier</strong> most of the time</p>
                                    </li>
                                </ul>
                                <p><br /></p>
                                <p><strong>This course also comes with:</strong></p>
                                <p>✔ Lifetime access to all future updates</p>
                                <p>✔ A responsive instructor in the Q&amp;A Section</p>
                                <p>✔ Udemy Certificate of Completion Ready for Download</p>
                                <p>✔ Course Audiobook to Learn on the go</p>
                                <p>✔ Quizzes at the End of each Module</p>
                                <p>✔ Two Exam Practice Tests</p>
                                <p>✔ English Professional Closed Captions (CC)</p>
                                <p><br /></p>
                                <p><strong>MONEY-BACK GUARANTEE</strong></p>
                                <p>I am totally confident in the value of this <strong>Microsoft Azure Fundamentals
                                        Training
                                        Bootcamp</strong> which comes with a 30-day money-back guarantee. Fast-track
                                    your
                                    Azure exam success and get <strong>lifetime access </strong>now - risk-free!</p>
                            </div> -->
                            {{description | safe}}
                            <!-- / Description -->

                            <div class="rating floa-left d-flex align-items-center mt-5"
                                style="width: 100%; height: 45px; float: left; ">
                                {% if course.platform == 'Udemy' %}
                                <img src="{% static 'images/udemy.svg' %}" class="rounded mx-auto d-block" height="70%"
                                    width="100%"
                                    alt="CouponsTown | Best Courses Udemy | Free Certificate | Free Udemy Course | Highest Rated | {{course.id}}">
                                {% elif course.platform == 'Eduonix' %}
                                <img src="{% static 'images/eduonix.png' %}" class="rounded mx-auto d-block"
                                    height="70%"
                                    style="margin:0 auto; width:max-content; background:antiquewhite; border-radius: 5%;"
                                    alt="CouponsTown | Best Eduonix Courses | Free Certification | Highest Rated | Bestseller | {{course.id}}">
                                {% endif %}

                            </div>
                            <center>
                                <div class="get-coupon mb-3" style="width: 100%; height: 70px; padding-right: 13px;">
                                    <a rel="nofollow"
                                        href="{% url 'coupon_page' %}?course={{course.name_encoded}}&filter={{filter}}"
                                        class="btn peach-gradient text-white"
                                        style="text-decoration: none; color: #03e9f4; border-radius: 0px; font-weight: 600; font-size: 2rem; height: inherit ;">
                                        Enroll Now
                                    </a>
                                </div>
                            </center>

                        </div>
                    </div>


                </div>

                <div class="col-lg-4 fixed">
                    <div class="card text-center ">
                        <!-- ======Provide Suggestions of Related Topics====== -->
                        <div class="card-header bg-danger text-white" style="font-weight: bolder;">
                            Suggested Courses
                        </div>
                        <div class="card-body">
                            {% for course in related_courses %}
                            {% include 'courses/side-card-small.html' %}
                            {% endfor %}
                        </div>

                    </div>
                    <!-- ================================== -->
                </div>

            </div>
        </div>



    </div>


</div>

</div>

{% endblock %}