{% extends 'courses/base.html' %}
{% load static %}

{% block page_meta %}
<meta name="title" content="[100% OFF] | {{ course.name }}"  />
<meta name="description" content="{{course.name}}: Free Online Courses with Certificate of Completion, Constantly Validated , Free Coupon (Promo) Code." />
<meta property="og:title" content="[100% Off] | {{course.name}}" />
<meta property="og:description" content="" />
<meta property="og:url" content="" />
<meta property="og:image" content="{{course.image.url}}" />
{% endblock %}

{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<div class="container-fluid">
<div class="d-flex justify-content flex-wrap" style="width: 100%;" style=" display: flex; flex-wrap: wrap;">

  <div class="p-2 flex-fill bd-highlight" id="scroll-navbar"
    style="width: 100%; height: 80px; position: fixed; margin: 0; padding: 0; z-index: 2;transition: top 0.9s; top: -70px;">
      {% include 'courses/navbar.html' %}
  </div>

  <div class="p-2 flex-fill bd-highlight"
    style="width: 100%; height: 400px; background:linear-gradient(black, white) ; text-align: center;">
    <img src="{% static 'images/course.png' %}" class="img-fluid" alt="Responsive image"
      style="height: 40vh; margin-top: 50px;">

  </div>

  

  <div class="container-fluid">
    <div class="row">


      <div class="col-lg-8">
        <div class="card text-center">
          <div class="card-header">
            <h1 style="font-size: 20px;">{{ course.name }}</h1>
          </div>
          <div class="card-body ">
            <div class="d-flex justify-content-md-center flex-wrap">
              <div class="p-2 flex-fill bd-highlight" style="width: 296px;">
                <img src="{{ course.image.url }}" class="card-img-top" alt="{{course.name}} | Coupons Town | e-learning free courses online">
              </div>
    
              <div class="p-2 flex-fill bd-highlight" style="width: 296px;">
                <img src="lol.jpg" class="card-img-top" alt="...">
              </div>
    
              <div class="p-2 flex-fill bd-highlight" style="width: 296px;">
                <img src="lol.jpg" class="card-img-top" alt="...">
              </div>
              
    
              <div class="p-2 flex-fill  " style="width: 296px;">
                <div class="get-coupon" style="width: 100%; height: 40px;  ">
                      
                    <script>
                      function countDown(secs,elem) {
                        var element = document.getElementById(elem);
                        element.innerHTML = "<h4 class='text-info'>Please wait for "+secs+" seconds</h4>";
                        if(secs < 1) {
                          clearTimeout(timer);
                          element.innerHTML = '<p class="lead text-success" style="font-weight:500;">\
                          {% if course.expired %}\
                          Sorry! No Coupons Found &#128549 \
                          {% else %}\
                          Successfully Generated \
                          {% endif %}\
                          ;</p>';
                          element.innerHTML += '<a href="{{ course.url }}" target="blank" style="text-decoration: none; color: #03e9f4; border-radius: 0px; width: 100%;" ><span></span><span></span><span></span><span></span>\
                          {% if course.expired %}\
                          Coupon Expired\
                          {% else %}\
                          Get Coupon\
                          {% endif %}\
                          </a>';
                        }
                      secs--;
                      var timer = setTimeout('countDown('+secs+',"'+elem+'")',1000);
                          }
                    </script>
                    <div id="status"></div>
                    <script>countDown(10,"status");</script>
                </div>
                <div class="rating floa-left d-flex align-items-center mt-5"
                  style="width: 100%; height: 45px; float: left; ">
                  {% if course.platform == 'Udemy' %}
                  <img src="{% static 'images/udemy.svg' %}" height="70%" width="100%" alt="CouponsTown | Best Courses Udemy | Free Certificate | Free Udemy Course | Highest Rated | {{course.id}}">
                  {% elif course.platform == 'Eduonix' %}
                  <img src="{% static 'images/eduonix.png' %}" height="70%" style="margin:0 auto; width:max-content; background:antiquewhite; border-radius: 5%;" alt="CouponsTown | Best Eduonix Courses | Free Certification | Highest Rated | Bestseller | {{course.id}}">
                  {% endif %}
                </div>
    
              </div>
            </div>
    
          </div>
    
          <div class="card-footer">
            <div class="card-header  text-warning">
              <h1 style="font-size: 20px;" class="">{{ course.name }}</h1>
            </div>  
            <ul>
              {% if contents %}
              {% for item in contents %}
              <li style="text-align: left;">{{ item }}</li>
              {% endfor %}
              {% endif %}
            </ul>
            
          </div>
        </div>     
    </div>

    <div class="col-lg-4">
      <div class="card text-center">
        <!-- ======Provide Suggestions of Related Topics====== -->
        <div class="card-header" style="font-weight: bolder;">
          Related Topics
        </div>
        <div class="card-body">
          {% for course in related_courses %}
          {% include 'courses/side-card-small.html' %}
          
          {% endfor %}
        </div>
        <div class="card-footer text-muted">
          <label for="category" style="background: red transparent;">Select Category</label>
          <select name="category" style="background: red transparent;">
            <a>
              <option value="Development">Development</option>
            </a>
            <a>
              <option value="BusinessMarketin">Business & Marketing</option>
            </a>
            <a>
              <option value="itsoftware">It & Software</option>
            </a>
            <a>
              <option value="designphotography">Design Photography</option>
            </a>
            <a>
              <option value="office">Office & Productivity</option>
            </a>
            
          </select>
        </div>
      </div>
      <!-- ================================== -->
      <div class="card text-center">
        <div class="card-header" style="font-weight: bolder;">
          ALL TAGS
        </div>
        <div class="card-body" style="height: 500px; overflow: hidden scroll">
          <!-- Test -->
          {% for tag in all_tags %}
          <a href="#" class="btn btn-primary" style="font-size: 20; padding-top: 11px; padding-bottom: 11px;">{{tag}}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    </div>
  </div>
  
  
</div>

 

  <!-- =========================================sliding section=====================================        -->


        {% endblock %}

</html>