{% extends 'courses/base.html' %}
{% load static %}
{% block body %}
    <div class="d-flex justify-content flex-wrap" style="width: 100%;" style=" display: flex; flex-wrap: wrap;">
        
        <div class="p-2 flex-fill bd-highlight" id="scroll-navbar" style="width: 100%; height: 70px;position: fixed; background:red; z-index: 2;transition: top 0.9s; top: -70px;">
        
        </div>
        
        <div class="p-2 flex-fill bd-highlight" style="width: 100%; height: 450px; background:linear-gradient(blue,white,blue)">
        
        </div>
        
        <div class="p-2 flex-fill bd-highlight" style="width: 95px; ">
        
        </div>
        
        
        <div class="p-2 flex-fill bd-highlight"style="width: 673px;">
            <div class="card text-center">
                <div class="card-header">
                    <!-- Tableau 2020 A-Z:Hands-On Tableau Training For Data Science! -->
                    {{ course.name }}
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-md-center flex-wrap">
                        <div class="p-2 flex-fill bd-highlight"style="width: 296px;">
                            <img src="{{ course.image.url }}" class="card-img-top" alt="...">
                        </div>

                        <div class="p-2 flex-fill bd-highlight"style="width: 296px;">
                            <img src="lol.jpg" class="card-img-top" alt="...">
                        </div>
    
                        <div class="p-2 flex-fill bd-highlight"style="width: 296px;">
                            <img src="lol.jpg" class="card-img-top" alt="...">
                        </div>
    
                        <div class="p-2 flex-fill bd-highlight"style="width: 296px;">
                            <div class="get-coupon" style="width: 100%; height: 40px;  ">
                                {% if course.affiliate_url %}
                                <a href="{{ course.affiliate_url }}" style="text-decoration: none; color: #03e9f4; border-radius: 0px; width: 100%;" target="blank"> 
                                {% else %}
                                <a href="{{ course.url }}" style="text-decoration: none; color: #03e9f4; border-radius: 0px; width: 100%;" target="blank"> 
                                {% endif %}
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    Enroll Now
                                </a>
                            </div>
                            <div class="rating floa-left d-flex align-items-center mt-1" style="width: 100%; height: 45px; float: left; ">
                                {% if platform == 'Udemy' %}
                                <img src="{% static 'images/udemy.svg' %}" height="70%" width="100%">
                                {% elif platform == 'Eduonix' %}
                                <img src="{% static 'images/eduonix.png' %}" height="70%" width="100%">
                                {% endif %}
                            </div>
                            
                        </div> 

                        <div class="p-2 flex-fill bd-highlight"style="width: 100%;">
                            <h3>{{ name }}</h3>
                                <!-- Description here -->
                        </div>
                    </div>
                    
                </div>
                
                <div class="card-footer">
                  
                </div>
              </div>
        </div>
        
        
        <div class="p-2 flex-fill bd-highlight"style="width: 455px;">
            <div class="card text-center">
                <!-- ======Provide Suggestions of Related Topics====== -->
                <div class="card-header">
                  Related Topics
                </div>
                <div class="card-body">
                {% for course in related_courses %}
                    <marquee direction="left"><a href="{% url 'info_page' %}?course_id={{course.id}}">{{ course.name }}</a></marquee>    
                {% endfor %}
                </div>
                <div class="card-footer text-muted">
                    <label for="category" style="background: red transparent;">Select Category</label>
                    <select name="category" style="background: red transparent;">
                      <a><option value="Development">Development</option></a>
                      <a><option value="BusinessMarketin">Business & Marketing</option></a>
                      <a><option value="itsoftware">It & Software</option></a>
                      <a><option value="designphotography">Design Photography</option></a>
                      <a><option value="office">Office & Productivity</option></a>
                      <a><option value=""></option></a>
                      <a><option value=""></option></a>
                      <a><option value=""></option></a>
                      <a><option value=""></option></a>
                      <a><option value=""></option></a>
                      <a><option value=""></option></a>
                    </select>
                </div>
              </div>
               <!-- =============end of Providing Suggestions of related topics========  -->

              
              <!-- =============================Popular Courses============ -->
               <div class="p-2 flex-fill bd-highlight"style="width: 455px;">
                <div class="card text-center">
                    <div class="card-header" style="font-weight: bolder;">
                      ALL TAGS
                    </div>
                    <div class="card-body">
                        <!-- Test -->
                        {% for tag in all_tags %}
                        <a href="#" class="btn btn-primary" >{{tag}}</a>
                        {% endfor %}
                    </div>
            </div>
            <!-- ============================Category====================== -->
            <div class="p-2 flex-fill bd-highlight"style="width: 455px;">
                <div class="card text-center">
                    <div class="card-header">
                      Category
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    <div class="card-footer text-muted">
                      2 days ago
                    </div>
                  </div>
            </div>
            <!-- =========================End of category Section=============== -->
        </div>
    </div>
        
        
        
        <div class="p-2 flex-fill bd-highlight" style="width: 95px; ">
        
        </div>
 <!-- =========================================sliding section=====================================        -->
        <div class="p-2 flex-fill bd-highlight" style="width: 600px; ">
            
                <div class="autoplay" style="width: 100%;">
                    
                    <div class="carousel" data-flickity='{ "autoPlay": 1500, "pauseAutoPlayOnHover": false }'>
                        <div class="carousel-cell">
                            
                        </div>
    
{% endblock %}
</html>
