{% extends 'courses/base.html' %}
{% load static %}

{% block page_meta %}
<meta name="title" content="[100% off] Free Online Courses with Certificates | CouponsTown.Me" />
<meta name="description" content="All Validated Courses, Free Udemy Coupon Codes, Free Online Courses with Certificate of Completion." />
<meta property="og:title" content="Coupons Town: Get 100% OFF Online Courses Coupons | Udemy | Eduonix| 2020" />
<meta property="og:description" content="Udemy Coupon, Free Online Courses, Udemy Free Courses, Free Online Courses with Certificates, Free e-courses, 100% Working, Free Tutorials" />
<meta property="og:url" content="https://couponstown.me/" />
<meta property="og:image" content="https://couponstown.me/static/images/course.png" />
{% endblock %}

{% block body %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      {% include 'courses/carousel2.html' %}
      {% include 'courses/navbar1.html' %}
 
{% endblock %}
