{% load static %}
<style>
    .top-nav-collapse {
      background-color: #ff3547 !important;
    }
    .nav-item{
        width: max-content;
        padding: 5px;
    }
    .navbar:not(.top-nav-collapse) {
      background: transparent !important;
    }

    @media (max-width: 768px) {
      .navbar:not(.top-nav-collapse) {
        background: #ff3547 !important;
      }
    }
    @media (min-width: 800px) and (max-width: 850px) {
        .navbar:not(.top-nav-collapse) {
            background: #ff3547!important;
        }
    }
  </style>

<!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" style="height: 80px;">
    <div class="container">
      <a class="navbar-brand {% url 'courses' %}" href="{% url 'home' %}">
        <img src="{% static 'images/couponstown.png' %}" style="width: 50px; height: 40px; z-index: 555555555;" alt="" > </a>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
        aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-9">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item " id="navcourses">
            <a class="nav-link" href="{% url 'courses' %}">Course Coupons
              <!-- <span class="sr-only">(current)</span> -->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Download Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Download Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Games Coupons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Giveaway</a>
          </li>
        </ul>
        <form class="form-inline">
          <div class="md-form ">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" action="{% url 'search' %}" method="GET" enctype="application/x-www-form-urlencoded">
          </div>
        </form>
      </div>
    </div>
  </nav>

  <script >
      
    var a = document.URL.split('/')
    var page = a[a.length-1]
    if (page === "courses"){
        document.getElementById("navcourses").classList.add("active")
    }

  </script>