{% load static%}

<style>
  a{min-height: 48px; min-width: 48px;}
</style>

<!--Double navigation-->
<header>
  <!-- Sidebar navigation -->
  <div id="slide-out" class="side-nav fixed bg-danger" >
    <ul class="custom-scrollbar">
      <!-- Logo -->
      <li>
        <div class="logo-wrapper waves-light">
          <a href="{% url 'home' %}"><img src="{% static 'images/CouponsTown-background.png' %}" class="img-fluid flex-center" 
            style="padding: 0; height: 100%; width: 100% ;" 
            alt="Coupons Town - Free Udemy Cooupons, Free Online Courses, Courses with Certificate, e-courses, Tutorials, 100% Working">
          </a>
        </div>
      </li>
      <!--/. Logo -->
      <!--Social-->
      <li>
        <ul class="social">
          <li><a  href="https://www.facebook.com/couponstown/" target="blank" class="icons-sm fb-ic"><i class="fab fa-facebook-f"> </i></a></li>
          <li><a href="https://t.me/coupons_town" target="blank" class="icons-sm pin-ic"><i class="fab fa-telegram"> </i></a></li>
          <li><a  href="https://www.instagram.com/couponstown/" target="blank" class="icons-sm gplus-ic"><i class="fab fa-instagram"> </i></a></li>
          <li><a href="https://twitter.com/CouponsTown" target="blank" class="icons-sm tw-ic"><i class="fab fa-twitter"> </i></a></li>
        </ul>
      </li>
      <!--/Social-->
      <!--Search Form-->
      <li>
        <form class="search-form" role="search" method="GET" action="{% url 'search' %}">
          <div class="form-group md-form mt-0 pt-1 waves-light">
            <input type="text" class="form-control" placeholder="Search" name="q">
          </div>
        </form>
      </li>
      <!--/.Search Form-->
      <!-- Side navigation links -->
      <li>
      <ul class="collapsible collapsible-accordion">
        <li><a class="collapsible-header waves-effect arrow-r"><i class="fas fa-chevron-right"></i>Course Coupons<i class="fas fa-angle-down rotate-icon"></i></a>
          <div class="collapsible-body">
            <ul class="list-unstyled">
              <li><a href="{% url 'courses' %}" class="waves-effect">All Valid Coupons</a>
              </li>
              <li><a href="{% url 'courses' %}?filter=Udemy" class="waves-effect">Udemy Coupons</a>
              </li>
              <li><a href="{% url 'courses' %}?filter=Eduonix" class="waves-effect">Eduonix Coupons</a>
              </li>
              <li><a href="{% url 'courses' %}?filter=Expired" class="waves-effect">Expired Coupons</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a class="collapsible-header waves-effect arrow-r"><i class="fas fa-book"></i>Books<i class="fas fa-angle-down rotate-icon"></i></a>
          <div class="collapsible-body">
            <ul class="list-unstyled">
              <li><a href="#" class="waves-effect">Books Offer/Coupons</a>
              </li>
              <li><a href="#" class="waves-effect">Download Books</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a href="#" class="collapsible-header waves-effect arrow-r"><i class="fab fa-steam"></i>Games Giveaways</a>
          
        </li>
        <li><a class="collapsible-header waves-effect arrow-r"><i class="fas fa-gifts"></i>Other Giveaways<i class="fas fa-angle-down rotate-icon"></i></a>
          <div class="collapsible-body">
            <ul class="list-unstyled">
              <li><a href="#" class="waves-effect">Software</a>
              </li>
              <li><a href="#" class="waves-effect">Android Apllication</a>
              </li>
              <li><a href="#" class="waves-effect">Premium Account</a>
              </li>
              <li><a href="#" class="waves-effect">Serial Keys</a>
              </li>
            </ul>
          </div>
        </li>
        
        <li><a class="collapsible-header waves-effect arrow-r"><i class="far fa-envelope"></i>Support Us<i class="fas fa-angle-down rotate-icon"></i></a>
          <div class="collapsible-body">
            <ul class="list-unstyled">
              <li><a  class="waves-effect" data-toggle="modal" data-target="#LeaveFeedback">Leave Feedback</a>
              </li>
              <li><a  class="waves-effect" data-toggle="modal" data-target="#WriteMessage">Contact Us</a>
              </li>
              <li><a  class="waves-effect" data-toggle="modal" data-target="#">Submit Coupon</a>
              </li>
              <li><a class="waves-effect" data-toggle="modal" data-target="#">Request Course</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
        
    <div class="sidenav-bg mask-strong"></div>
  </div>
  <!--/. Sidebar navigation -->
  <!-- Navbar -->
  <nav class="navbar bg-danger text-white fixed-top navbar-toggleable-md navbar-expan-xl scrolling-navbar double-nav">
    <!-- SideNav slide-out button -->
    <div class="float-left">
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="fas fa-bars"></i></a>
    </div>
    <!-- Breadcrumb-->
    <div class="breadcrumb-dn mr-auto">
      <p>
        <a href="{% url 'home' %}" style="font-weight:bold; font-family: cursive; font-size: 2rem; ">Coupons Town</a>
      </p>
    </div>
    <ul class="nav navbar-nav nav-flex-icons ml-auto" >
      <li class="nav-item ml-2">
        <a href="{% url 'home' %}" class="nav-link"><i class="fas fa-home"></i> <span class="clearfix d-none d-sm-inline-block">Home</span></a>
      </li>
      <li class="nav-item ml-2">
        <a class="nav-link" href="{% url 'games_giveaways' %}"><i class="fab fa-steam"></i> <span class="clearfix d-none d-sm-inline-block">Game Giveaways</span></a>
      </li>
      <li class="nav-item ml-2">
        <a class="nav-link" href="#" ><i class="fas fa-gifts"></i> <span class="clearfix d-none d-sm-inline-block">Submit Coupons</span></a>
      </li>
      <li class="nav-item ml-2">
        <a class="nav-link" data-toggle="modal" data-target="#searchModal"><i class="fas fa-search"></i> <span class="clearfix d-none d-sm-inline-block">Search</span></a>
      </li>
    </ul>
  </nav>
  <!-- /.Navbar -->
</header>
<!--/.Double navigation-->

 <!---------------------------Moadal for leave feedback ---------------------------->   

<div class="modal fade" id="LeaveFeedback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Modal cascading tabs-->
            <div class="modal-c-tabs">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs md-tabs tabs-2 bg-danger darken-3" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fas fa-comments mr-1"></i>
              Give Us Feedback </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fas fa-inbox mr-1"></i>
              Write Message</a>
          </li>
        </ul>

        <!-- Tab panels -->
        <div class="tab-content">
          <!--Panel 7-->
          <div class="tab-pane fade in show active" id="panel7" role="tabpanel">

            <!--Body-->
            <div class="modal-body mb-1">
              <div class="md-form form-sm mb-5">
                <i class="fas fa-envelope prefix"></i>
                <input type="email" id="modalLRInput10" class="form-control form-control-sm validate" required>
                <label data-error="wrong" data-success="right" for="modalLRInput10">Your email</label>
              </div>

              <div class="md-form form-sm mb-4">
                <i class="fas fa-user prefix"></i>
                <input type="text" id="modalLRInput11" class="form-control form-control-sm validate" required>
                <label data-error="wrong" data-success="right" for="modalLRInput11">Your Name </label>
              </div>
              <!--Textarea with icon prefix-->
              <div class="md-form amber-textarea active-amber-textarea-2">
                <i class="fas fa-pencil-alt prefix"></i>
                <textarea id="form24" class="md-textarea form-control" rows="3"></textarea>
                <label for="form24">Write Feedback</label>
              </div>
              <div class="text-center mt-2">
                <button class="btn btn-danger">Send <i class="fas fa-sign-in ml-1"></i></button>
              </div>
            </div>
            
          </div>
          <!--/.Panel 7-->

          <!--Panel 8-->
          <div class="tab-pane fade" id="panel8" role="tabpanel">

            <!--Body-->
            <div class="modal-body mb-1">
              <div class="md-form form-sm mb-5">
                <i class="fas fa-envelope prefix"></i>
                <input type="email" id="modalLRInput10" class="form-control form-control-sm validate" required>
                <label data-error="wrong" data-success="right" for="modalLRInput10">Your email</label>
              </div>

              <div class="md-form form-sm mb-4">
                <i class="fas fa-user prefix"></i>
                <input type="text" id="modalLRInput11" class="form-control form-control-sm validate" required>
                <label data-error="wrong" data-success="right" for="modalLRInput11">Your Name </label>
              </div>
              <!--Textarea with icon prefix-->
              <div class="md-form amber-textarea active-amber-textarea-2">
                <i class="fas fa-pencil-alt prefix"></i>
                <textarea id="form24" class="md-textarea form-control" rows="3"></textarea>
                <label for="form24">Write Message</label>
              </div>
              <div class="text-center mt-2">
                <button class="btn btn-danger">Send <i class="fas fa-sign-in ml-1"></i></button>
              </div>
            </div>
          </div>
          <!--/.Panel 8-->
        </div>

      </div>
    </div>
    <!--/.Content-->
  </div>
</div>


        <!---------------------------Moadal for leave feedback ---------------------------->
<div class="modal fade" id="WriteMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Modal cascading tabs-->
            <div class="modal-c-tabs">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs md-tabs tabs-2 bg-danger darken-3" role="tablist">
          <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="#panel7" role="tab"><i class="fas fa-comments mr-1"></i>
              Give Us Feedback </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#panel8" role="tab"><i class="fas fa-inbox mr-1"></i>
              Write Message</a>
          </li>
        </ul>

        <!-- Tab panels -->
        <div class="tab-content">
          <!--Panel 7-->
          <div class="tab-pane fade in show active" id="panel7" role="tabpanel">

            <!--Body-->
            <div class="modal-body mb-1">
              <div class="md-form form-sm mb-5">
                <i class="fas fa-envelope prefix"></i>
                <input type="email" id="modalLRInput10" class="form-control form-control-sm validate" required>
                <label data-error="wrong" data-success="right" for="modalLRInput10">Your email</label>
              </div>

              <div class="md-form form-sm mb-4">
                <i class="fas fa-user prefix"></i>
                <input type="text" id="modalLRInput11" class="form-control form-control-sm validate" required>
                <label data-error="wrong" data-success="right" for="modalLRInput11">Your Name </label>
              </div>
              <!--Textarea with icon prefix-->
              <div class="md-form amber-textarea active-amber-textarea-2">
                <i class="fas fa-pencil-alt prefix"></i>
                <textarea id="form24" class="md-textarea form-control" rows="3"></textarea>
                <label for="form24">Write Feedback</label>
              </div>
              <div class="text-center mt-2">
                <button class="btn btn-danger">Send <i class="fas fa-sign-in ml-1"></i></button>
              </div>
            </div>
            
          </div>
          <!--/.Panel 7-->

          <!--Panel 8-->
          <div class="tab-pane fade" id="panel8" role="tabpanel">

            <!--Body-->
            <div class="modal-body mb-1">
              <div class="md-form form-sm mb-5">
                <i class="fas fa-envelope prefix"></i>
                <input type="email" id="modalLRInput10" class="form-control form-control-sm validate" required>
                <label data-error="wrong" data-success="right" for="modalLRInput10">Your email</label>
              </div>

              <div class="md-form form-sm mb-4">
                <i class="fas fa-user prefix"></i>
                <input type="text" id="modalLRInput11" class="form-control form-control-sm validate" required>
                <label data-error="wrong" data-success="right" for="modalLRInput11">Your Name </label>
              </div>
              <!--Textarea with icon prefix-->
              <div class="md-form amber-textarea active-amber-textarea-2">
                <i class="fas fa-pencil-alt prefix"></i>
                <textarea id="form24" class="md-textarea form-control" rows="3"></textarea>
                <label for="form24">Write Message</label>
              </div>
              <div class="text-center mt-2">
                <button class="btn btn-danger">Send <i class="fas fa-sign-in ml-1"></i></button>
              </div>
            </div>
          </div>
          <!--/.Panel 8-->
        </div>

      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<!-- --------------------------modal for search-------------------- -->

<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Modal cascading tabs-->
      <div class="modal-c-tabs">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs md-tabs tabs-2 bg-danger darken-3" role="tablist">
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fas fa-search mr-1"></i>
              Search</a>
          </li>
        </ul>
        <!-- Tab panels -->
        <div class="tab-content">
          <!--Panel 7-->
          <div class="tab-pane fade in show active" id="panel7" role="tabpanel">
            <!--Body-->
            <div class="modal-body mb-1" >
              <form class="form-inline mr-auto search-form"  role="search" method="GET" action="{% url 'search' %}">
                <input class="form-control mr-sm-2" style="width: 100%;" type="text" placeholder="Search" name="q">
               
              <div class="text-center mt-2">
                 <button class="btn btn-outline-danger btn-rounded btn-sm my-0" type="submit" >Search</button>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
