{% load static %}
<div class="container-fluid" style="padding: 0 !important; margin-top: -20px;">
  <div class="card card-image " style="background-image: url(&#34{% static 'images/lalita.jpeg' %}&#34);">

    <!-- Content -->
    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-3 "  style="justify-content: center;">
        <div class="wow fadeInDown"  data-wow-delay="0.3s">
            <h5 class="pink-text mt-5" ><i class="fas fa-book-reader"></i> COUPONS TOWN</h5>
            <h1 class="card-title pt-2"><strong>Free Udemy Coupon and Free Online Courses</strong></h1>
            <p>
                <h1 class="" style="text-align: start;  font-size: 18px; text-align: center;">
                    Here we provide coupons FREE online courses for popular platforms like Udemy, Eduonix, BitDegree,
                    Coursera, and so on. 
                    The Coupns we provide are constantly validated and 100% Working, except some technical errors.<br><br>
                    We are here to provide FREE and Valid coupons for Best Online Courses with Certificate of Completion.<br><br>
                    Eventually, we also provide Discounts on E-degrees from Best-known Universities like Harvard, Stanford, MIT and others
                    as well as on Certifications from large tech companies like Google, Microsoft, IBM, Amazon and so on.
                </h1>
            </p>
            <div class="text-center mb-2">
              <a href="" class="btn btn-danger btn-rounded" data-toggle="modal" data-target="#darkModalForm">Subscribe Us!!</a>
            </div>
            <!-- <a class="btn btn-info"><i class="fas fa-clone left"></i> WELCOME</a> -->
            <a class="fb-ic " style="color: #3b5998;" href="https://www.facebook.com/couponstown/" target="blank">
              <i class="fab fa-facebook-f fa-lg mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Telegram -->
            <a class="tw-ic text-blue " style="color: #0088cc ;" href="https://t.me/coupons_town" target="blank">
              <i class="fab fa-telegram fa-lg  mr-md-5 mr-3 fa-2x"> </i>
            </a>
          
            <!--Instagram-->
            <a class="ins-ic" style="color: #c13584 !important;" href="https://www.instagram.com/couponstown/">
              <i class="fab fa-instagram fa-lg  mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic " style="color: #3b5998;" href="https://twitter.com/CouponsTown" target="blank">
              <i class="fab fa-twitter fa-lg mr-md-5 mr-3 fa-2x"> </i>
              <!-- <i class="fa fa-twitter" aria-hidden="true"></i> -->

            </a>
            
            
        </div>
    </div>

  </div>

  <div class="modal fade" id="darkModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog form-dark" role="document">
      <!--Content-->
      <div class="modal-content card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(7).jpg');">
        <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
          <!--Header-->
          <div class="modal-header text-center pb-4">
            <h3 class="modal-title w-100 white-text font-weight-bold" id="myModalLabel"><strong>SUBSCRIBE</strong> <a
                class="green-text font-weight-bold"><strong> US</strong></a></h3>
            <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!--Body-->
          <div class="modal-body">
            <!--Body-->
            <div class="md-form mb-5">
              <input type="text" id="Form-pass5" name="full_name" class="form-control validate white-text">
              <label data-error="wrong" data-success="right" for="Form-pass5">Your Name</label>
            </div>

            <div class="md-form pb-3">
              <input type="email" id="Form-email5" name="email" class="form-control validate white-text">
              <label data-error="wrong" data-success="right" for="Form-email5" required>Your email</label>
              
              <div class="form-group mt-4">
                <input class="form-check-input" type="checkbox" id="checkbox624">
                <label for="checkbox624" class="white-text form-check-label">Accept the<a href="#" class="green-text font-weight-bold">
                    Terms and Conditions</a></label>
              </div>
            </div>

            <!--Grid row-->
            <div class="row d-flex align-items-center mb-4">

              <!--Grid column-->
              <div class="text-center mb-3 col-md-12">
                <button type="button" class="btn btn-success btn-block btn-rounded z-depth-1">SUBSCRIBE</button>
              </div>
              <!--Grid column-->

            </div>    
          </div>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>
</div>