<nav class="navbar navbar-light navbar-expand-lg bg-dark py-lg-4"
        id="mainNav">
        <div class="container"><a class="navbar-brand text-uppercase d-lg-none text-expanded" href="#">🅲🅾🆄🆁🆂🅴 🅷🆄🅱</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav mx-auto" >
                    <li class="nav-item "style="padding-left:0 ! important;" role="presentation"><a class="navbar-brand" href="{% url 'home' %}">🅲🅾🆄🆁🆂🅴 🅷🆄🅱</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">CATEGORY </a>
                      <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" role="presentation" href="/category?search=development">DEVELOPMENT</a>
                        <a class="dropdown-item" role="presentation" href="/category?search=software">IT & SOFTWARE</a>
                        <a class="dropdown-item" role="presentation" href="/category?search=office&productivity">OFFICE PRODUCTIVITY</a>
                        <a class="dropdown-item" role="presentation" href="/category?search=design&photography">DESIGN & PHOTOGRAPHY</a>
                        <a class="dropdown-item" role="presentation" href="/category?search=marketing&business">MARKETING & BUSINESS</a>
                        <a class="dropdown-item" role="presentation" href="/category?search=others">OTHERS</a>
                      </div>

                      </li>
                    <li class="nav-item" role="presentation" style="padding-left:0 ! important;" ><a class="nav-link" href="products.html">Popular Courses</a></li>
                    <li class="nav-item" role="presentation"style="padding-left:0 ! important;" ><a class="nav-link" href="store.html">Download Course</a></li>
                    <li class="nav-item" role="presentation" style="padding-left:0 ! important;" ><a class="nav-link" href="store.html">Download BOOks</a></li>
                </ul>
        </div>
        </div>
    </nav>
