{% load static %}
<div class="container-fluid" style="padding: 0 !important; margin-top: -20px;">
  <div class="card card-image " style="background-image: url(&#34{% static 'images/lalita.jpeg' %}&#34);">

    <!-- Content -->
    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-3 "  style="justify-content: center;">
        <div class="wow fadeInDown"  data-wow-delay="0.3s">
            <h5 class="pink-text mt-5" ><i class="fas fa-book-reader"></i> COUPONS TOWN</h5>
            <h1 class="card-title pt-2"><strong>Free Udemy Coupon and Free Online Courses</strong></h1>
            <div class="container-fluid px-1 pb-2">
              <p>
                <h1 class="" style="text-align: start;  font-size: 18px; text-align: center;">
                    Here we provide coupons FREE online courses for popular platforms like Udemy, Eduonix, BitDegree,
                    Coursera, and so on. 
                    The Coupns we provide are constantly validated and 100% Working, except some technical errors.<br><br>
                    We are here to provide FREE and Valid coupons for Best Online Courses with Certificate of Completion.<br><br>
                    Eventually, we also provide Discounts on E-degrees from Best-known Universities like Harvard, Stanford, MIT and others
                    as well as on Certifications from large tech companies like Google, Microsoft, IBM, Amazon and so on.
                </h1>
              </p>
            </div>
            <!-- <a class="btn btn-info"><i class="fas fa-clone left"></i> WELCOME</a> -->
            <a class="fb-ic " style="color: #3b5998;" href="https://www.facebook.com/couponstown/" target="blank">
              <i class="fab fa-facebook-f fa-lg mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Telegram -->
            <a class="tw-ic text-blue " style="color: #0088cc ;" href="https://t.me/coupons_town" target="blank">
              <i class="fab fa-telegram fa-lg  mr-md-5 mr-3 fa-2x"> </i>
            </a>
          
            <!--Instagram-->
            <a class="ins-ic" style="color: #c13584 !important;" href="https://www.instagram.com/couponstown/" target="blank">
              <i class="fab fa-instagram fa-lg  mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic " style="color: #3b5998;" href="https://twitter.com/CouponsTown" target="blank">
              <i class="fab fa-twitter fa-lg mr-md-5 mr-3 fa-2x"> </i>
              <!-- <i class="fa fa-twitter" aria-hidden="true"></i> -->

            </a>
            
            
        </div>
    </div>

  </div>
</div>