<link href="https://fonts.googleapis.com/css2?family=Caveat&family=Combo&display=swap" rel="stylesheet"> 
<style>
    .lead{font-family: 'Combo', cursive; font-size: 24px;}
    h2{color: red;}
</style>
<div class="text-justify" >
    <p class="lead">
        One of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by CouponsTown and how we use it. 
        If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us. 
        This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in CouponsTown. 
        This policy is not applicable to any information collected offline or via channels other than this website.
      </p>
      <hr>

      <h2 class="mb-2">Description of Service</h2>
        <p class="lead mb-4">
          We reserve the right to modify, suspend or discontinue the Service with or without notice at any time 
          and without any liability to you.
        </p>
        <hr>

      <h2 class="mb-2">What information do we collect?</h2>
      <p class="lead mb-4 md-ml-5">
        We are storing the Email address and Name of the user, who has voluntarily submitted the course details using ContactUs link on our website.
        We also, store End Users’ IP address, device push token, precise location (e.g., GPS-level) data, network information, language, time zone, product preferences, and privacy preferences ONLYIF the user has opted for CouponsTown NOTIFICATION.
        <br>
        CouponsTown (“us”, or “we”) are using OneSignal for PUSH NOTIFICATION. Push notifications allow apps to reach out to users with short messages that users may respond to.
        <br><br>
        For further information visit OneSignal‘s Privacy Policy visit 
        <br>
        <span class="text-primary" style="font-size: 1rem;"> https://onesignal.com/privacy_policy</span>
        
        <br>
        User can any time opt out for PUSH NOTIFICATION, Please refer the OneSignal website:
        <br> 
        <span class="text-primary" style="font-size: 1rem;">https://documentation.onesignal.com/docs/opt-out-of-web-push</span>
       
        <br>
        <span class="text-primary" style="font-size: 1rem;">https://documentation.onesignal.com/docs/unsubscribe-from-notifications</span>
      
      </p>
      
        <hr>
    
     <h2> Automatically Collected Information</h2>
      <p class="lead">
        CouponsTown uses third party analytics services including Google Analytics to help understand usage of this website(s). These services collect the information sent by your browser as part of a web page request, including cookies, and their use of this information is governed by their Privacy Policy.
        (Refer to section, Non-Personally Identifiable Information)
      </p>   
      <hr>
    
      <h2>Personally Identifiable Information:</h2>
        <p class="lead">
            Our(CouponsTown) website  doesn’t trade or share any personal information to any third party.
            We will not share your information with any other organizations /company/business or any third parties who are related to the deals or any product promotions you may or not be interested in.
            Please read over Third Party rules and policies before proceeding to their website.
            In exceptional circumstances, we may disclose your personal information if we are required by law to do so
            We are committed to comply with all International privacy standards.
            Any personal information or content that you voluntarily disclose for posting on this website(s), such as User Content, becomes available to the public, as controlled by any applicable privacy settings.
            If you remove information that you posted to this website(s), copies may remain viewable in cached and archived pages of the website(s), or if other Users have copied or saved that information.
        </p>
        
        <hr>
    
      <h2>Links to Other Web Sites/Third Party Website(s)</h2>
        <p class="lead">
            Your browsing and interaction on any other website, including those that have a link on this website(s), is subject to that website’s own rules and policies. Please read over those rules and policies before proceeding.
            If you provide any personal information to other website(s) or third parties, you give them permission to use it.
            Our website(s) Privacy Policy does not apply to and we cannot control the activities of other website(s) or third parties.
            For these providers, we recommend that you read their privacy policies so you can understand the manner in which your personal information will be handled by them. If you elect to proceed with a transaction that involves the services of a third-party service provider, then your information may become subject to the laws of the jurisdiction(s) in which that service provider or its facilities are located.
        </p>   
        <hr>

      <h2>Non-Personally Identifiable Information:</h2>
        <p class="lead">
            We may occasionally collect non-personally identifiable information (such number of clicks, views, referring/exit time on the website pages) to help us understand the usage patterns for this website(s).
        </p>
    
        <hr>

      <h2>Cookies</h2>
        <p class="lead">
            Information about how you use our website is collected automatically using “cookies”. Cookies are text files placed on your computer and device to collect standard internet log information and visitor behaviour information. This information is used to analyze your use of our website, personalizing your experience, making it easier to log into the website, and recognizing you when you return.
            Most browsers are initially set up to accept cookies, but you can reset your browser to refuse all cookies or to indicate when a cookie is being sent. However, some features and services (particularly those that require you to sign-in) may not function properly if your cookies are disabled.
            We and our third-party partners may also use cookies and tracking technologies for advertising purposes. For more information about tracking technologies, please read over Third Party rules and policies before proceeding to their website.
        </p>
        <hr>

      <h2>How We Protect Your Information</h2>
        <p class="lead">
            This website(s) we take reasonable steps (such as requesting a unique password) to verify your identity before granting you access to your account. You are responsible for maintaining the secrecy of your unique password and account information, and for controlling access to your email communications from our website(s), at all times.
            You must ensure the information you provide is accurate to perform the above functions on this website(s).
            We are not responsible for the functionality or security measures of any third party. Please read over Third Party rules and policies before proceeding to their website.
        </p>
        <hr>
    
      <h2>Changes to Our Privacy Policy</h2>
        <p class="lead">
            We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website.
            If “You” or “USER” do not agree with these Terms and Conditions and Privacy Policy (including any amendments to them) you must immediately cease using this Website.
            COMPLAINTS AND CONTACT INFORMATION IF YOU WOULD LIKE TO REGISTER A COMPLAINT, OR SIMPLY WANT MORE INFORMATION CONTACT US
        </p>
        <hr>
    
     <h2> Children’s Privacy</h2>
     <p class="lead">
        We  (CouponsTown) is not structured to attract children. We are not collecting any information regarding the age of any user accessing our (CouponsTown )website.
        When it comes to the collection of personal information from children under the age of 13 years old, the Children’s Online Privacy Protection Act (COPPA) puts parents in control.
     </p>
     <hr>
    
      <h2>COPPA (Children Online Privacy Protection Act)</h2>
        <p class="lead">
            The Federal Trade Commission, United States’ consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children’s privacy and safety online.
        </p>
        <hr>

      <h2>California Online Privacy Protection Act</h2>
      <p class="lead">
        CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy. The law’s reach stretches well beyond California to require any person or company in the United States (and conceivably the world) that operates websites collecting Personally Identifiable Information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those individuals or companies with whom it is being shared.
        If you are a California resident, you may request CouponsTown to give you a list of the personal information that we shared with the third-party, by contacting CouponsTown via Contact US form https://couponstown.me/contact-us/ with Message starting with “CalOPPA” as first paragraph.
      </p>
      <hr>

      <h2>GDPR RIGHTS</h2>
     <p class="lead">
        We do not sell, rent or trade email lists or any data with other companies and businesses. This Privacy Policy will provide detailed information on when and why we collect your personal information, how we use it, the limited conditions under which we may disclose it to others and how we keep it secure.
        Any visitor accessing CouponsTown can always refuse to supply personally-identifying information, with the caveat that it may prevent them from engaging in certain website-related activities.
      </p>
    
      <hr>
      <h2>CAN SPAM Act</h2>
      <p class="lead">
        The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.
      </p>
    
      <h4 class="text-warning">We collect your email address in order to:</h4>
      <ul class="ml-5">
          <li>Send information; respond to inquiries, and/or other requests or concerns.</li>
          <li>Send you additional information related to your request.</li>
          <li>Sending Push Notification ONLYIF, you have opted-in for ALTERS for updated courses.</li>
      </ul>
      <hr>
      <h4 class="text-warning">To be in accordance with CANSPAM, we agree to the following:</h4>
      <ul class="ml-5">
        <li>Not use false or misleading subjects or email addresses.</li>
        <li>Identify the message as an advertisement in some reasonable way.</li>
        <li>Include the physical address of our business or site headquarters.</li>
        <li>Monitor third-party email marketing services for compliance, if one is used.</li>
        <li>Honor opt-out/unsubscribe requests quickly.</li>
        <li>Allow users to unsubscribe by using the link at the bottom of each email</li>
      </ul>
      
</div>