<a href="{% url 'info_page' %}?course={{course.name_encoded}}" style="color: black;">
    <ul class="card container-sm my-1 mb-2">
        <div class="row" style="min-height: 50px;">
            <div class="col-2" style='
                {% if course.image_url %}
                background: url(&#34 {{course.image_url}} &#34);
                {% else %}
                background: url("https://couponstown.me/static/images/course.png");
                {% endif %}
                background-size: cover;background-position: center; '>
            </div>
            <div class="col d-flex align-items-center">
                <p class="m-0" style="text-align: start;">{{ course.name }}</p>
            </div>
        </div>
    </ul>
</a>
