{% extends 'courses/base.html' %} 
{% load static %} 
{% block body %}


<center>
    <div class="jumbotron bg-danger mt-3">
        <h2 class="display-4 text-white">{{ message |safe }}</h2>
      </div>
</center>

<div class="col-12 col-md-6 offset-md-3 card mb-3">

    <h5 class="card-header danger-color white-text text-center py-4">
        <strong>Submit Coupon</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" style="color: #757575;" action="{% url 'submit_coupons' %}" enctype="application/x-www-form-urlencoded">
            <!-- Full name -->
            <div class="md-form">
                <input type="text" id="fullname" name="name" class="form-control" placeholder="Anonymous">
                <label for="fullname">Name <small class="text-muted">(Optional)</small></label>
            </div>

            <!-- Course URL -->
            <div class="md-form mt-0">
                <input type="url" id="url" name="coupon" class="form-control">
                <label for="url">Course URL with Coupon Code</label>
            </div>

            <!-- Submit Coupon button -->
            <center>
                <button class="btn btn-outline-danger btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit" style="width: max-content;">Submit Coupon</button>
            </center>
        </form>
        <!-- Form -->

    </div>

</div>


{% endblock %}
