<div style="width:fit-content" class="container bg-light my-5 py-5 rounded-lg shadow">
    <h1 class="mb-4 mx-5">Subscribe Us</h1>
    <center>
        <form action="{% url 'subscribe' %}" method="POST">
            {% csrf_token %}
            <input style="outline:none" class="rounded-pill container border-secondary py-2" type="text"
                name="full_name" placeholder="Full Name"><br>
            <input style="outline:none" class="rounded-pill mt-1 container border-secondary py-2" type="text"
                name="email" placeholder="Email address"><br>
            <button class="btn btn-primary mt-1 py-2 container rounded-pill" type="submit">Subscribe</button>
        </form>
    </center>
    <hr>
</div>