@import url('https://fonts.googleapis.com/css?family=Poppins:400, 500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container
{
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;    
    flex-wrap: wrap;
    margin: 10px;
}
.container .card-body
{
    position: relative;
    height: 350px;
    display: flex;
    width: 100%;
}

.container .card .imagebox
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color:red;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.container .card:hover .imagebox
{
    width: 150px;
    height: 150px;
    left: -75px;
    top: calc(50% - 75px);
    transition: 0.5s ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container .card .imagebox::before{
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: rgba(255, 255, 255, .05);
    font-weight: 700;
    font-size: 3em;
}

.container .card .imagebox img{
    max-width: 100px;
    transition: 0.5s ease-in-out;
}
.container .card:hover .imagebox img{
    max-width: 75px;
}

.container .card .content
{
    position: absolute;
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    /* padding: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card .content h3
{
    margin-bottom: 5px;
    font-size: 24px;
    color: red;
    top: 0;
}
.container .card .content a{
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: #333;
    text-decoration: none;
    color: #fff;
}
/* ---------------------------------------botton------------------------------------- */



.card-body .get-coupon a{
    height: 50px;
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;             
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
}



